[2013-04-13 07:03] barbogogo opened #1 "Problème d'encodage titre de l'article"
Il y a un problème d'encodage au niveau des titres d'un article.

[2013-04-15 09:45] barbogogo opened #2 "Améliorer la mise en forme des articles"
Dans les articles, mettre un lien vers l'article original, la date de publication, l'auteur.

[2013-04-15 11:20] #1 closed, assigned to barbogogo

[2013-04-16 11:47] barbogogo opened #3 "Problème d'affichage d'un article"
Il arrive que pour certains article, celui-ci ne s'affiche pas :
![SC20130416-134047](https://f.cloud.github.com/assets/4095207/385661/65317d26-a68b-11e2-86c9-204b0dc588fb.png)

[2013-04-17 16:03] barbogogo commented on #3
Problème lié à la présence du caractère '%'.

[2013-04-17 16:03] #3 closed, assigned to barbogogo

[2013-04-18 07:44] ldleman opened #4 "Blank page issue"
@barbogogo Once the server address back into the application, I get a blank page and nothing happens.

It is surprising that the application never asks me the password or login, I wonder how she could retrieve data

[2013-04-18 08:30] barbogogo commented on #4
@ldleman Yes, when you save the link to the server, please click on the "Get Information" button in order to ask the server.
The leed application does no really need a login and a password to get data. However, it is a possible enhancement, not for security reason, but for multi account...

[2013-04-18 12:00] ldleman commented on #4
I've clicked on it, but nothing happend...

Login and password should be integrated for security reason too, or anyone can see and update informations of each leed witch contain json.php...

[2013-04-18 16:01] barbogogo opened #5 "Account connection to read feeds"
In order to read feeds and articles, the user shall be connected.

[2013-04-18 16:01] barbogogo commented on #4
Ok, I note the first point : you can not read your feeds from your server. It is a bug. Normally, if the address is not correct (404, ...) a new window appears to change the address of your server. The address shall be as "http://www.example.com/leed".
The second point concerns the necessity to be identified in order to navigate in your feeds. For me it is not urgent because the only one modificat

[2013-04-18 16:21] barbogogo commented on #4
Ok, the issue is due to the incompatibility since the modification of the "getFeedsPerFolder" function.
I have to update the [leed-API](https://github.com/barbogogo/leed-API).

[2013-04-19 08:33] barbogogo commented on #4
Bonjour Idle,

Quel commit correspond la version de Leed sur ton
serveur ?

En téléchargeant le dernier commit, j'ai été surpris, la
présence des balises dans le corps de l'article n'était pas terrible,
...

Je pense qu'il faudrait travailler ensemble en faisant du
versioning. J'ai un fork Barbogogo/leed
(https://github.com/barbogogo/Leed), qui permet d'avoir une version de
leed compatible avec l'

[2013-04-19 09:38] ldleman commented on #4
Yop !! (On passe au français :D ?)

De quelles balises parles tu ? Mon leed est régulièrement mis à jour via un pull sur le master de Leed, c'est sûr lui que je fais mes tests (rss.idleman.fr), le numéro de révision doit être l'avant avant dernier commit, mais je vais le mettre à jour aujourd'hui.

Concernant l'API, je pense qu'il faudrait plus l'intégrer en tant que plugin qu'en natif.

Je vais e

[2013-04-19 13:26] barbogogo commented on #4
Issue moved to the [leed-API](https://github.com/barbogogo/leed-API).
https://github.com/barbogogo/leed-API/issues/1

[2013-04-19 13:26] #4 closed, assigned to barbogogo

[2013-04-20 12:34] barbogogo opened #6 "Data autoload after server configuration"

[2013-04-21 09:47] barbogogo opened #7 "Inform user during data loadong"
Show a progress bar during server requests.

[2013-04-22 11:08] barbogogo commented on #7
https://github.com/barbogogo/leedReader/tree/4efc6bc29be842a4e91a104ab642de4cadd8cdc2

[2013-04-22 11:08] #7 closed, assigned to barbogogo

[2013-04-22 11:08] barbogogo commented on #6
https://github.com/barbogogo/leedReader/tree/4efc6bc29be842a4e91a104ab642de4cadd8cdc2

[2013-04-22 11:08] #6 closed, assigned to barbogogo

[2013-04-23 15:34] barbogogo commented on #5
@idleman
https://github.com/barbogogo/leedReader/tree/7386ba5c571b8f8ea510e11ffd822b80ed4b9c31

[2013-04-23 15:34] #5 closed, assigned to barbogogo

[2013-04-23 20:15] barbogogo opened #8 "Impossible d'accéder aux articles"
Suite à la mise à jour, il est impossible d'accéder aux articles.

[2013-04-23 20:17] barbogogo opened #9 "Connexion impossible avec mot de passe composé de caractères spéciaux"

[2013-04-24 06:50] barbogogo commented on #8
https://github.com/barbogogo/leedReader/tree/58a96545b42c6e56a34f909a1a4d3910c4089bf8

[2013-04-24 06:50] #8 closed, assigned to barbogogo

[2013-04-26 07:20] barbogogo commented on #9
https://github.com/barbogogo/leedReader/tree/e6c46039e054e27daec3af63f030e860a30a6ca7

[2013-04-26 07:20] #9 closed, assigned to barbogogo

[2013-05-01 12:35] barbogogo opened #10 "Pouvoir mettre un article dans les favoris"

[2013-05-04 20:37] barbogogo opened #11 "Affichage de caractères spéciaux encodés en html"
Affichage par exemple de &eacute à la place d'un é.

[2013-05-04 20:39] barbogogo opened #12 "Problème d'affichage articles"
Quasiment tous les articles du journal du geek ne peuvent pas être affichés

[2013-05-06 12:56] barbogogo commented on #11
Bug concernant l'API

https://github.com/barbogogo/leed-API/issues/2

[2013-05-06 12:56] #11 closed, assigned to barbogogo

[2013-05-07 09:29] barbogogo commented on #10
La fonctionnalité sera disponible avec la modification de [Leed-API](https://github.com/barbogogo/leed-API)
https://github.com/barbogogo/leed-API/issues/3

[2013-05-07 09:42] #10 closed, assigned to barbogogo

[2013-05-07 10:07] barbogogo opened #13 "Impossibilité de récupérer l'état "favori" des flux"

[2013-05-08 21:04] barbogogo opened #14 "Pouvoir mettre un flux comme lu"

[2013-05-08 21:05] barbogogo opened #15 "Trouver un logo"

[2013-05-08 21:17] barbogogo opened #16 "Bug sur le comptage des articles non lus"
Lorsque l'on lit un ou plusieurs articles et que l'on fait précédent, le nombre d'articles non lus n'est pas mis à jour dans la liste des flux.

[2013-05-09 20:17] cobalt74 opened #17 "pouvoir lire les flux en mode déconnecté"
suite à la connexion, récupérer les flux non lu et naviguer en mode hors connexion.

[2013-05-09 20:54] barbogogo commented on #17
Salut Cobalt,
Excellente idée. Je regarde quelle solution serait la mieux faire et te tiens au courant.
Barbogogo

[2013-05-09 23:27] cobalt74 commented on #17
OK. Super sinon la petite appli ;-)

[2013-05-14 16:22] barbogogo commented on #17
Salut Cobalt,
Une solution est trouvée : Stockage des données via SQLite.
La solution est en cours de développement.
Barbogogo

[2013-05-14 18:17] cobalt74 commented on #17
Super fait signe pour les tests ;)
Objectif : tout charger a la connexion !

[2013-05-17 10:42] gbour opened #18 "Impossible de se connecter sur une url en SSL avec un certificat autosigné"
Bonjour

LeedReader ne peut pas se connecter si Leed est installé sur une serveur avec SSL activé et utilisant un certificat autosigné.

Cdt,
Guillaume

[2013-05-17 17:04] barbogogo commented on #18
Bonjour Guillaume,

En effet, cette fonctionnalité n'est pas implémentée.
A suivre...

Merci,
Jérôme

[2013-05-21 17:37] barbogogo commented on #17
Hello,
La première version est disponible [sur le site](http://www.barbogogo.fr/leedreader-en-mode-off-line-demarrage-des-tests/).
Barbogogo

[2013-05-21 18:25] cobalt74 commented on #17
ok j'ai mis la nouvelle version à jour, j'ai bien le Online mais par contre quand j'enlève le wifi, je clic sur un article et l'application s'arrête brusquement.

[2013-05-21 19:02] barbogogo commented on #17
Salut Cobalt,
Merci pour ton retour.
Ok... c'est seulement en ouvrant un article ?

[2013-05-21 21:52] cobalt74 commented on #17
pour info : je suis sur tablette nexus 7.
non ce n'est pas que sur un article, c'est aussi dans la navigation. Dès que je suis en offline paf l'appli s'arrête.

[2013-05-22 05:56] barbogogo commented on #17
Salut Cobalt,
Je n'arrive pas à reproduire le problème.
Est-ce que tu vois le message "Téléchargement terminé" ?
Si tu cliques sur "OffLine" tu peux revenir en mode "OnLine" puis en mode "GetData". Est-ce que tu as essayé de télécharger une seconde fois les données ou est-ce que l'application n'arrive plus à se lancer ?

[2013-05-22 06:04] cobalt74 commented on #17
Effectivement je n'avais pas compris le fonctionnement !
Donc le bug c'est uniquement quand tu es en online et que tu coupe le wifi.
Sinon en off line c'est OK. Manque les images quand pas de connexion
Et pas encore de synchro entre élément lus en off line et remise en mode on line.
Sinon bien ;)

[2013-05-22 06:20] barbogogo commented on #17
Ok, merci du retour.
Bug à corriger : Perte de la connexion en mode OnLine.
Oui, il n'y a pas encore la synchro, c'est prévu très bientôt (comme une barre de téléchargement) ;-)
Merci pour ton retour.

[2013-05-22 11:28] barbogogo commented on #17
Cobalt,
Peux-tu essayer le fichier suivant : [LeedReader_offline_b0.2.apk](http://barbogogo.fr/xplorer/data/public/f45fa18c16c4ed10f545584b38ce2e7e.php?lang=fr)
Il permet de vérifier la présence du réseau de données en mode OnLine.
https://github.com/barbogogo/leedReader/tree/a9015b9268e8ae416ac950b2c5a3f19cacef84b2

[2013-05-22 11:29] cobalt74 commented on #17
je test ça ce soir ;)

[2013-05-22 16:24] cobalt74 commented on #17
Mode online sans connexion, sa marche sur la navigation dossier. Un message s'affiche lorsque je clic sur un flux (genre vous n'êtes pas connecté) et l'application s'arrête.
Mais j'ai bien un message qui s'affiche brièvement !

[2013-05-23 06:38] barbogogo commented on #17
Salut Cobalt,
Merci pour ton retour.
Tu as un message, mais l'application s'arrête... ce n'est pas terrible --> création de l'issue https://github.com/barbogogo/leedReader/issues/19.
Je regarde ça !
ps: désolé mon Galaxy est HS, je ne peux pas tout tester... je n'ai que l'émulateur qui est assez limité...
Je te tiens au courant ;-)

[2013-05-23 06:58] barbogogo opened #19 "Fermeture intempestive en mode OnLine sur perte du réseau de données"
Voir commentaire de Cobalt https://github.com/barbogogo/leedReader/issues/17#issuecomment-18290216

[2013-05-23 07:29] cobalt74 commented on #17
pas de problème. ;)
c'est déjà fonctionnel

[2013-05-23 15:23] barbogogo commented on #17
Bonjour,
Une mise à jour est disponible [sur le site](http://www.barbogogo.fr/leedreader-en-mode-off-line-quelques-corrections/).
Barbogogo

[2013-05-23 16:29] cobalt74 commented on #19
yop j'ai toujours le problème de fermeture lorsque je simule la perte de connexion en mode online.
version 0.3beta.
est ce qu'il y a un moyen de mettre des logs sur android que je pourrais te remonter ?

[2013-05-23 20:42] barbogogo commented on #19
Salut,
Ok, noté.
Merci pour ton retour.
Je ne sais pas exactement comment activer les logs. Il me semble qu'il faut se mettre en mode développeur.

[2013-05-24 15:08] barbogogo commented on #19
Salut Cobalt,
C'est corrigé dans la nouvelle révision.
http://www.barbogogo.fr/leedreader-en-mode-off-line-de-nouvelles-corrections/

[2013-05-24 15:08] #19 closed, assigned to barbogogo

[2013-05-24 15:09] #13 closed, assigned to barbogogo

[2013-05-24 15:09] barbogogo commented on #12
Problème résolu

[2013-05-24 15:09] #12 closed, assigned to barbogogo

[2013-05-24 15:10] barbogogo commented on #14
Problème résolu

[2013-05-24 15:10] #14 closed, assigned to barbogogo

[2013-05-24 15:13] barbogogo commented on #17
Bonjour,
Les fonctionnalités nécessaires pour une utilisation Off Line sont implémentées (sauf le téléchargement des images).
La dernière révision est disponible sur ce lien : http://www.barbogogo.fr/leedreader-en-mode-off-line-de-nouvelles-corrections/
Toutefois, je ne ferme pas encore cette issue. Celle-ci sera fermée en même temps que le merge de la branche OffLine avec le master.

[2013-05-24 16:30] cobalt74 commented on #17
nice ça marche ;)

[2013-05-24 17:42] cobalt74 commented on #17
je continue les remontées sur cet issue tant que ce n'est pas sur la branche principale.

Lorsque je suis en mode offline, je met à lu quelques articles, puis je repasse en mode online.
j'ai ce message dans l'encart noir de message (End of input character of 0)

Rien de bloquant.

[2013-05-25 06:51] barbogogo commented on #17
Ok merci ;-)

[2013-05-30 19:37] gbour opened #21 "Crash de l'application sur dossier vide"
Bonjour,

Si je clique sur un dossier vide (écran principal de leedreader), l'application crashe.

Guillaume.

[2013-05-31 14:23] barbogogo commented on #21
Bonjour Guillaume,

Merci pour ton retour.

[2013-06-01 13:26] barbogogo opened #22 "Télécharger les images pour le mode déconnecté"

[2013-06-05 15:54] barbogogo commented on #17
Salut @cobalt74,
J'ai généré la révision [LeedReader_offline_b0.5.apk](http://barbogogo.fr/xplorer/data/public/2357e8a9b790c1851dcc25fc4b239fa4.php?lang=fr) qui supprime l'encart noir et améliore légèrement les performances.

[2013-06-05 18:39] cobalt74 commented on #17
Faut mettre la dernière API ?

[2013-06-05 19:20] barbogogo commented on #17
Non, il faut laisser l'ancienne version.

[2013-06-10 19:24] barbogogo opened #24 "Affichage des vidéos"
Problème d'affichage des vidéos youtube

[2013-06-11 05:47] barbogogo opened #25 "Article non lu en mode offline"
Lorsqu'on ouvre un article en mode offline, celui-ci reste non lu.

[2013-06-12 06:49] #24 closed, assigned to nobody

[2013-06-14 06:32] barbogogo commented on #25
Bug corrigé intégré dans le master.

[2013-06-14 06:32] #25 closed, assigned to barbogogo

[2013-06-14 06:32] barbogogo commented on #21
Bug corrigé intégré dans le master

[2013-06-14 06:32] #21 closed, assigned to barbogogo

[2013-06-14 06:34] barbogogo commented on #17
Branche OffLine fusionnée dans le master.
Toutefois, il reste l'amélioration #22 pour une utilisation plus complète du mode OffLine (à ce jour, seul le texte est téléchargé).

[2013-06-14 06:34] #17 closed, assigned to barbogogo

[2013-06-14 06:37] cobalt74 commented on #17
;)

[2013-06-15 16:06] cobalt74 opened #26 "Contrôle plugin API activé"
Je me suis fais avoir, j'ai remplacé le plugin API et du coup, il était désactivé :)
Sur Leed-Reader, message d'erreur technique.

Est ce que tu peux detecter si le plugin est non installé ? et donc renvoyer un message du grenre "Erreur : Plugin API désactivé" pour les boulets comme moi :p

[2013-06-15 18:48] barbogogo commented on #26
Salut @cobalt74,
Si le plugin n'est pas activé il y a un message d'erreur qui devrait apparaitre "API disabled".
Par contre si le plugin n'est pas installé, il y a une erreur 404 qui s'affiche avec la page paramètre qui apparait. Par contre, ce n'est peu être pas très explicite...

[2013-06-15 19:41] cobalt74 commented on #26
Hello @barbogogo
pardon il était installé et non activé

[2013-06-15 19:55] barbogogo commented on #26
@cobalt,
Tu as fait un ré-installation complete? Ou juste une mise à jour partielle de quelques fichiers?

[2013-06-15 19:55] cobalt74 commented on #26
réinstall complète.

[2013-06-17 11:53] barbogogo commented on #26
@cobalt74, ok merci.

Il manque un contrôle dans la mise à jour de l'API.
Ouverture du ticket https://github.com/barbogogo/leed-API/issues/7

[2013-06-17 11:54] cobalt74 commented on #26
ok. je clos celui là.

[2013-06-17 11:54] #26 closed, assigned to barbogogo

[2013-06-17 17:14] gbour commented on #21
merci @barbogogo

[2013-06-19 19:42] barbogogo commented on #16
Bug de nouveau visible sur la version 0.9 de LeedReader.

[2013-06-25 16:39] barbogogo opened #27 "Revoir interface"
Revoir l'interface pour qu'elle soit plus ergonomique.

[2013-06-25 16:41] cobalt74 commented on #27
:D c'est le moment de mettre de l'orange ;)

[2013-06-25 19:30] barbogogo commented on #27
@cobalt74 oui, puis si tu as des suggestions de présentation, n'hésite pas !
Le but n'est pas seulement de changer les couleurs mais de revoir complètement l'interface graphique et la navigation parmi les flux, articles, menu de configuratiln, ... ;-)

[2013-06-25 19:44] cobalt74 commented on #27
Quelques idées
- Accueil => tous les non lus
- Un menu caché a gauche ou droite qui cache la liste des flux et un lien vers la conf. (style application gmail)

[2013-07-06 19:48] barbogogo opened #28 "Récupérer tous les flux"
Suivre les flux lus et non lus.

[2013-07-08 14:33] barbogogo opened #29 "Mettre en accueil les flux non lus"

[2013-07-08 14:52] barbogogo opened #30 "Partager un article"
Créer une icône pour partager un article

[2013-07-24 14:17] ghost opened #31 "Impossible de charger les flux"
J'ai voulu tester cette application, mais impossible de récupérer les flux depuis l'application.
Je suis sous Android 2.2 et Leed 1.5.

[2013-07-24 14:20] ghost commented on #15
Je veux bien me proposer pour un logo. J'ai déjà créé et redessiné le logo de Leed pour mon thème, je peux te fournir le fichier si tu veux :-)

[2013-07-24 14:28] ghost commented on #27
Si tu pouvais donner un style inspiré de la version mobile de mon thème [HotBeer](https://github.com/misterair/HotBeer) je te serais éternellement reconnaissant ;-)

[2013-07-24 14:33] barbogogo commented on #31
Bonjour @misterair,
Est-ce que tu as bien installé l'[API](http://www.barbogogo.fr/projets/applications-leed/leed-api/telechargement/) ?
Si oui, l'as-tu activée (dans la partie plugins)?
Quelle révision de LeedReader as-tu installée ?
Barbogogo

[2013-07-24 14:45] barbogogo commented on #15
Tu proposes un logo pour l'application ?
Je n'ai pas eu le temps de lire les quelques recommandations pour la réalisation d'un logo pour android...
http://developer.android.com/design/style/iconography.html

[2013-07-24 14:48] ghost commented on #31
La dernière version de l'API et LeedReader, à savoir API 0.4 et LeedReader 0.9.
L'API est bien activé comme tu l'as indiqué dans le ReadMe.

[2013-07-24 14:49] barbogogo commented on #27
Le but est que l'application rappelle Leed.
Les premières captures d'écran sont disponibles : http://www.barbogogo.fr/premiere-vue-de-la-nouvelle-revision-de-leedreader/

Est-ce que tu peux un peu plus détailler la charte graphique de ton thème ?

[2013-07-24 14:55] ghost commented on #27
La charte graphique c'est un noir texturé, un orange pétard (je te retrouverais le code hex), un gris #eee, et du blanc en fond pour l'article en cours de lecture.
Le principe est de mettre en avant les news et leur contenus sans être être distrait par le reste.

[2013-07-24 14:58] ghost commented on #15
Dès que le design de l'application sera figé ce sera plus simple. Ou je peux te fournir la version orange du logo de Leed en le faisant correspondre aux recommandation Android... à toi de choisir ;-)

[2013-07-24 15:15] barbogogo commented on #15
Dans ce cas, on attend que le design de l'application soit figé. Mais le [logo orange](https://github.com/misterair/HotBeer/blob/master/logo.png) que tu as fait me plait bien ;-)

[2013-07-24 15:22] barbogogo commented on #27
Ok, tu parles du noir texturé : https://github.com/misterair/HotBeer/blob/master/css/background.png ?
Le orange, je pense que tu as choisi celui-ci : http://www.colorhexa.com/fc4c03
L'application LeedReader n'ouvre qu'un article à la fois. Ensuite, il suffit de faire un swipe (Press, move, lift) vers la gauche ou la droite pour naviguer entre les articles.

[2013-07-24 19:50] ghost commented on #15
tu peux t'en servir, il est là pour ça ;-)

[2013-07-24 19:54] ghost commented on #27
tu peux te faire une idée en regardant mes screenshots: http://remitaines.com/hot-beer/
ma démo est en ce moment sur la version en dev de mon thème...

[2013-07-25 06:14] barbogogo commented on #15
Ok, merci ;-)
Est-ce que tu pourrais me le donner en 144x144 px ?

[2013-07-25 06:16] barbogogo commented on #27
Merci pour ce lien.
Hier, j'ai installé ton thème et je n'avais ni vu comment mettre un article en favoris, ni comment mettre un article en non lu. Les icônes ne s'affichent pas si on ne les survole pas...

[2013-07-25 10:12] ghost commented on #15
voilà: ![leedlogo](https://f.cloud.github.com/assets/4334834/854925/93d65ba8-f512-11e2-88d4-439f83f32e36.png)

[2013-07-25 10:13] ghost commented on #27
c'est normal que les icônes ne s'affichent qu'au survol, c'est pour épurer un maximum l'interface

[2013-07-25 10:20] barbogogo commented on #27
ok, mais il faut connaitre... ;-)

[2013-07-25 10:20] barbogogo commented on #15
Merci ;-)

[2013-07-25 10:30] barbogogo opened #32 "Gérer le multi langue"
Permettre de proposer plusieurs langues en fonction de la langue système.

[2013-07-25 13:38] ghost commented on #27
Voilà globalement ce que j'imagine comme interface:
![leedreader](https://f.cloud.github.com/assets/4334834/855775/121bfb0a-f52f-11e2-810c-92ff7f97ecd8.png)

Pour le fond c'est [Celui-ci](https://github.com/misterair/HotBeer/blob/experimental/css/background.png) Celui de la branche master est trop clair...

[2013-07-25 20:21] ghost commented on #31
J'ai ré-installé l'API et LeedReader, toujours impossible de récupérer les articles. La connexion se passe bien mais je l'application Android m'indique "Get Data" et reste bloquée sur "initialisation".

[2013-07-26 12:50] barbogogo commented on #31
Ok. Pour réutiliser l'application, il faut que tu supprimes les données via le menu paramètres d'Android.

Lorsque tu navigue en mode OffLine, tout se passe bien ?

[2013-07-26 12:50] barbogogo commented on #31
Ok. Pour réutiliser l'application, il faut que tu supprimes les données via le menu paramètres d'Android.

Lorsque tu navigues en mode OnLine, tout se passe bien ?

[2013-07-26 14:04] ghost commented on #31
J'ai supprimé les donnés comme tu m'as indiqué, et en mode OnLine je n'ai rien du tout. L'application ne semble rien récupérer comme données

[2013-07-26 14:27] barbogogo commented on #31
A l'ouverture de l'application, tu devrait avoir la liste de tes répertoires...
Tu as un message qui apparait ?
Tu as bien au moins un répertoire de flux ? :-/

[2013-07-26 14:43] ghost commented on #31
nop, les répertoires ne s'affichent pas. impossible de les charger.
En gros une fois la connexion réussie j'ai une page blanche avec en haut à gauche une icône de maison, un joli "online" qui se transforme en "get data" quand je clique dessus, et en haut à droite un icône censé afficher le chargement de l'application mais qui tourne dans le vide.
Complètement inutilisable en somme :-(

[2013-07-26 15:02] barbogogo commented on #31
Ok, la connection ne doit pas bien se faire, une détection de l'activation 3G ou WiFi est faite, mais il n'y a pas de test réalisé pour un délai de réponse avec le serveur. Est-ce que tu arrives à naviguer sur ton site leed avec ton mobile?
Sinon, je vais mettre à disposition la semaine prochaine la révision 1 de LeedReader. J'espère que ce problème sera résolu avec cette nouvelle révision...

[2013-07-26 15:06] ghost commented on #31
je peux accéder à mon site via le navigateur sans trop de soucis, webkit sous Android 2.2 étant une catastrophe...
J'attends avec impatience cette future version alors ;-)

[2013-07-27 09:28] barbogogo commented on #31
Ok.
- [x] Il faut que j'ajoute quelques vérifications notamment sur le temps de réponse du serveur...

[2013-07-28 21:24] barbogogo opened #33 "Ajouter un module de debbugage"
Permettre la récupération d'informations sur les différents étapes et états de l'application afin de permettre un debbugage plus facile.

[2013-07-28 21:25] barbogogo commented on #31
Création du ticket : https://github.com/barbogogo/leedReader/issues/33 pour le futur

[2013-07-29 14:37] grimlokason commented on #31
Bonjour,

Je rencontre le même soucis de blocage lors du chargement.
Accès en web : ok
Android 4.1.2
testé en wifi et 3g : ko
suppression des données et reconfig idem.

Je suis dispo pour faire des tests si besoin !

Merci !

[2013-07-29 16:16] barbogogo commented on #31
Bonjour @grimlokason,

Merci pour ce retour.

Quelle version de Leed utilisez-vous ?

[2013-07-29 17:19] grimlokason commented on #31
J'ai tenté avec la version 1.5 puis une version dev. les 2 avec le même résultat.
Parcontre, mon serveur est sur un mutualisé OVH... je vais tout rapatrier en local pour tester
Il y aurait des prérequis php par exemple ?

[2013-07-29 18:29] barbogogo commented on #31
Les prérequis sont :
- Serveur Apache conseillé (non testé sur les autres serveurs types Nginx…)
- PHP 5.3 minimum
- MySQL

J'ai fait un test avec :
- la version 1.5 de Leed (https://github.com/ldleman/Leed/tree/1cfb27b748f1bec132a2c1e613df097e3d2fa3f2),
- la version 0.4 de l'API (http://www.barbogogo.fr/projets/applications-leed/leed-api/telechargement/)
- la version 0.9 de l'application (http://

[2013-07-29 18:29] grimlokason commented on #31
Même erreur en local.
Aurais-tu un Leed de test qu'on puisse vérifier si ça viens de nos config Leed ou de nos android ?

[2013-07-29 18:45] barbogogo commented on #31
Un site de test est disponible :
- url : http://rss.barbogogo.fr
- login : barbogogo
- mot de passe : barbogogo

[2013-07-29 18:49] grimlokason commented on #31
Ça fonctionne avec ton site de test.

[2013-07-29 18:52] barbogogo commented on #31
Peux-tu faire un site de test sur ton serveur pour que je regarde ?
Quelle est ta version de php ?

[2013-07-29 19:07] grimlokason commented on #31
j'ai la 5.3 sur les 2 serveurs

Une session de test :

Url : http://grim-is-a-geek.fr/Leed-barbo
login : barbogogo
mot de passe : barbogogoLogin

[2013-07-29 19:14] grimlokason commented on #31
mince, c/c loupé :
mot de passe : barbogogo

[2013-07-29 20:27] ghost commented on #31
@grimlokason impossible de récupérer les données sur ta session test...

@barbogogo  ta session test fonctionne sur mon smartphone. Par contre pas moyen d'afficher les articles en online comme offline. En mode online l'Application plante... la faute à Android 2.2?
J'ai aussi un hébergement mutualisé mais chez 1&1. Ma version de php est la 5.4.

[2013-07-29 21:38] barbogogo commented on #31
@grimlokason J'ai une erreur de connexion, le login est bien barbogogo et le mot de passe barbogogo ?
Est-ce que tu arrives à lire les articles ?

@misterair, Apparemment, il ne devrait pas y avoir de problème de compatibilité avec Android 2.2... tu arrives à naviguer dans tes répertoires ?

[2013-07-29 21:42] grimlokason commented on #31
@barbogogo : je viens de voir plusieurs messages comme ça dans mes log apache sur mon serveur local.
[Mon Jul 29 21:16:35.064485 2013] [:error] [pid 30058:tid 140068027045632] [client 192.168.1.125:37981] PHP Notice:  Use of undefined constant JSON_UNESCAPED_UNICODE - assumed 'JSON_UNESCAPED_UNICODE' in /var/www/localhost/htdocs/Leed/plugins/api/json.php on line 84
Cette fonction semble n'exister

[2013-07-29 22:42] grimlokason commented on #31
Je viens de passer en 5.4 sur mon serveur local, ça fonctionne sur android.
Parcontre, le passage en 5.4 sur le mutualisé ne résout pas le soucis. je comparerais demain les conf php.

à demain !

[2013-07-30 09:23] barbogogo commented on #31
@grimlokason merci pour ces informations. J'avais zappé ce problème de compatibilité. Par contre, je n'arrive toujours pas à me connecter à ton site de test.

@misterair puis-je avoir plus d'informations sur ta config utilisée. Lorsque j'essaie de faire tourner l'application sur Android 2.2, l'application plante. Quelle version de LeedReader utilises-tu ?

[2013-07-30 09:30] barbogogo commented on #31
@misterair peux-tu essayer avec [LeedReader-v0.7](http://barbogogo.fr/xplorer/data/public/1d8f9ba5fef1ff1f229d45f1ac9c76fd.php?lang=fr) ?
Si ça marche, je mettrai à jour l'application avec les dernières mises à jour, tout en gardant la compatibilité.

[2013-07-30 11:29] grimlokason commented on #31
Bizarre votre soucis d'accès, ptet un bug à cause d'un cookies lier à ma session.

Modification du compte :
Url : http://grim-is-a-geek.fr/Leed-barbo
login : test
mot de passe : test

[2013-07-30 12:28] ghost commented on #31
@barbogogo la version 0.9 plante de temps en temps en effet. Je ne peux pas te donner plus d'infos que la version de php, ça reste un hébergement mutualisé, donc je ne gère pas tout. Mais Leed 1.5 stable fonctionne sans soucis.

Par contre la version 0.7 de LeedReader est incapable de se connecter, elle m'indique toujours "url invalide". Problème de communication avec l'API 0.4 ?

[2013-07-30 13:00] barbogogo commented on #31
@misterair l'API 0.4 est compatible avec LeedReader 0.7...
Désolé de t'embêter, mais peux-tu essayer [LeedReader-v0.8](http://barbogogo.fr/xplorer/data/public/3369dcbe496e1fa7b825e0952eb7df77.php?lang=fr), c'est juste pour voir quelle version peut être compatible (en espérant qu'il y en ait une...).

[2013-07-30 13:10] ghost commented on #31
@barbogogo la version 0.8 se comporte exactement comme la version 0.9. Toujours ce problème de connexion. Je pense que tu devrais rester sur ce que tu as cité là: https://github.com/barbogogo/leedReader/issues/31#issuecomment-21626294

[2013-07-30 13:29] barbogogo commented on #31
@misterair le problème c'est que la nouvelle révision n'est pas compatible avec Android 2.2... j'essaie donc de voir sur quelle ancienne version je peux faire une branche pour cette version d'Android.
Il me semble que 1and1 est en php 5.2.17. Tu peux avoir l'information en faisant un phpinfo() dans un fichier php.

[2013-07-30 13:56] grimlokason commented on #31
@misterair, tu ne peu pas récuperer ta config php grâce à çette fonction ? :
phpinfo();

[2013-07-30 15:33] barbogogo commented on #31
@misterair je me suis mélangé les pinceaux... [LeadReader v0.7](http://barbogogo.fr/xplorer/data/public/1d8f9ba5fef1ff1f229d45f1ac9c76fd.php?lang=fr) n'est pas compatible avec l'API v0.4, mais est compatible avec l'[API v0.2](https://github.com/barbogogo/leed-API/tree/8b1b3b1c31a95065784ed4149b71fa25fd2fa204). Vu ta config, peux-tu essayer ?

[2013-07-30 19:28] ghost commented on #31
@barbogogo l'API v0.4 ne change rien, toujours ce message d'erreur: "url invalide".

@grimlokason bonne question, va falloir que je creuse ça et apprenne ne connaissant rien au php une fois sorti de Wordpress...

[2013-07-30 19:52] grimlokason commented on #31
Bon, il y a pas mal de différence entre les 2 config pour la même version de php... -_-'
1ère piste les "Registered PHP Streams":
Celui qui fonctionne :
compress.zlib, compress.bzip2, dict, ftp, ftps, gopher, http, https, imap, imaps, ldap, ldaps, pop3, pop3s, rtsp, scp, sftp, smtp, smtps, telnet, tftp, php, file, glob, data, phar, zip
Celui qui est KO :
https, ftps, compress.zlib, compress.bzip2,

[2013-07-30 22:21] barbogogo commented on #31
@grimlokason @misterair merci pour ces informations. Je vais regarder tout cela de très près, il est important de voir les configurations compatibles et de développer en conséquence. Il est dommage que le couple LeedReader v0.7 - l'API v0.2 ne fonctionne pas. Je vous tiens au courant.
Merci pour votre aide.

[2013-07-31 08:54] barbogogo commented on #31
@misterair en effet, le couple LeedReader v0.7 - l'API v0.2 est incompatible (d'où le message "url invalide").
Si 1and1 a bien la version php 5.2.17, l'application tournait dans le vide à cause d'une erreur php qui bloquait la génération de la page et donc pas de retour de la part du serveur.
peux-tu essayer [cette version de l'API](https://github.com/barbogogo/leed-API/tree/leed-api-v0.2). J'ai c

[2013-07-31 09:13] barbogogo commented on #31
@grimlokason pour les "Registered PHP Streams", j'ai exactement la même configuration que celle qui est KO pour toi... donc ça ne vient pas de là.
En faisant un phpinfo(), est-ce que tu as bien les modules json, mysql et session ?
Quelles sont les erreurs dans les logs ?

[2013-07-31 10:13] grimlokason commented on #31
@barbogogo
 Pour mes info php du serveur KO :

json support    enabled
json version    1.2.1

MySQL Support   enabled
Active Persistent Links     0
Active Links    0
Client API version  5.1.61
MYSQL_MODULE_TYPE   external
MYSQL_SOCKET    /var/run/mysqld/mysqld.sock
MYSQL_INCLUDE   -I/usr/include/mysql
MYSQL_LIBS  -L/usr/lib -lmysqlclient

Session Support     enabled
Registered save handlers    fil

[2013-07-31 20:26] grimlokason commented on #31
Bon, j'ai trouvé les logs,

J'ai rien dans les erreurs et ceci dans les accès :
109.190.39.15 grim-is-a-geek.fr - [31/Jul/2013:21:02:41 +0200] "GET /Leed/plugins/api/login.php HTTP/1.1" 401 46 "-" "Android-4.1.2/LeedReader-1.0"
109.190.39.15 grim-is-a-geek.fr - [31/Jul/2013:21:02:42 +0200] "GET /Leed/plugins/api/login.php HTTP/1.1" 401 46 "-" "Android-4.1.2/LeedReader-1.0"
109.190.39.15 grim-is-a-

[2013-08-01 07:34] barbogogo commented on #31
@grimlokason on voit une erreur 401 qui correspond à une erreur de connexion digest.
Cette erreur correspond bien à l'erreur de connexion que j'ai en essayant de me connecter. Cette erreur est envoyée par la fonction `function auth_request($realm)` du fichier [auth.php](https://github.com/barbogogo/leed-API/blob/master/api/auth.php) de l'API. Par contre, je ne comprends pas cette erreur...

Salut

[2013-08-01 18:07] #29 closed, assigned to barbogogo

[2013-08-01 18:07] #30 closed, assigned to barbogogo

[2013-08-01 18:07] #32 closed, assigned to barbogogo

[2013-08-01 21:05] barbogogo opened #34 "Permettre de gérer les erreurs PHP"
Lien avec le ticket https://github.com/barbogogo/leed-API/issues/9

[2013-08-02 17:55] ghost commented on #31
@barbogogo API 0.2 et LeedReader 0.6 ça marche! par contre il n'y a pas de mode offline...
Petit rappel: je suis sous php5.4 et non php 5.2 ;-)

[2013-08-02 18:02] ghost commented on #27
Un bouton de synchronisation ce serait sympa pour ceux qui n'ont pas de cron

[2013-08-04 20:29] barbogogo commented on #31
Salut @misterair, ok, j'étais parti sur du php 5.2... si tu es vraiment sur du php 5.4, je vais sortir une révision 0.10 avec la remontée des erreurs php et on regardera plus en détails les erreurs qui te sont remontées...
merci pour ton retour ;-)

[2013-08-04 20:42] barbogogo commented on #27
Bonjour, @cobalt74 @idleman @grimlokason
[LeedReader v1.0 est prêt pour les tests](http://goo.gl/8hyhna).
Est-ce que vous pouvez prendre quelques minutes pour faire des tests et me donner vos retours ?
Merci pour votre collaboration dans le développement de cette application.
Barbogogo

[2013-08-04 20:43] barbogogo commented on #27
@misterair ok, lje vais regarder ce qu'il est possible de faire sans trop toucher aux data échangées entre le smartphone et le serveur.

[2013-08-04 23:12] grimlokason commented on #31
@barbogogo, la nouvelle API me sort une erreur sur le fichier json.php.

Quand je l'ouvre dans firefox, j'ai ceci :
{"error":{"id":"3","message":"PHP error: Note[8]Undefined index: option- /homez.527/grimisag/www/Leed/plugins/api/json.php(l30)"}}
{"error":{"id":"0","message":"no error"}}

sur le serveur qui fonctionne :
<br />
<b>Notice</b>:  Undefined index: option in <b>/home/raistlin/www/Leed/p

[2013-08-05 07:54] barbogogo commented on #31
@grimlokason, merci pour ce retour.
Je vois deux problèmes :
- Au niveau de l'API: les erreurs PHP ne sont pas très bien gérées puisque tu arrives à avoir la partie json {"error":{"id":"0","message":"no error"}}.
- Au niveau de l'application : à l'initialisation, la variable option n'est pas initialisée.

Du coup, j'ai modifié l'API et l'application...
Tu pourras les trouver :
- [API](https://gith

[2013-08-05 10:28] grimlokason commented on #31
@barbogogo

Avec cette api :
{"error":{"id":"3","message":"<h1>PHP Error</h1><p>Note[8]Undefined index: option- /homez.527/grimisag/www/Leed/plugins/api/json.php(l30)</p><p>Your server configuration:</p><ul><li>PHP Version: 5.3.16</li><li>JSON Version: 1.2.1</li><li>MySQL Version: 1.0</li></ul>"}}

On va y arriver :D

[2013-08-05 11:27] barbogogo commented on #31
@grimlokason est-ce que tu as installé l'[application v1.1](http://barbogogo.fr/xplorer/data/public/b35ea20ac2ce27e0f6b111c17d932774.php?lang=fr) ?

[2013-08-05 12:26] grimlokason commented on #31
@barbogogo j'obtiens un login failed via l'interface.

et j'obtiens le même résultat via le navigateur si je vais sur http://grim-is-a-geek.fr/Leed/plugins/api/login.php, il me demande en boucle mes identifiants

[2013-08-05 17:49] barbogogo commented on #31
Salut @grimlokason,
Tu me donnes une nouvelle piste et il semble que ça peut payer : apparemment la gestion d'authentification par digest n'est pas très stable... Je regarde de plus près et je te tiens au courant.

[2013-08-05 20:20] barbogogo commented on #31
@grimlokason fausse alerte, la gestion par digest est bonne.
Il est impossible de se connecter via le navigateur car le mot de passe est haché (sha1). L'authentification par l'application se fait donc avec un mot de passe haché alors que via le navigateur, le mot de passe est en clair.
Il faut que je regarde pour mettre un bout de code qui vérifie où ça ne fonctionne pas et pourquoi...

[2013-08-05 21:17] cobalt74 commented on #31
hello @barbogogo, j'ai un login failed à la connexion. Tout ça me parait indigeste :smile:

[2013-08-05 21:33] barbogogo commented on #31
Salut @cobalt74.
Très beau jeu de mots sur ce sujet qui me donne plein de maux...
On dirait que ça ne marche que chez moi grrr...
Je fais une dernière tentative puis je crois que je vais désactiver l'authentification par digest...

[2013-08-05 21:46] cobalt74 commented on #31
@barbogogo j'avoue ne rien y paner tel un poisson rouge (au bout de 3 sec je sèche)
bref vive les mots de passe en claire pour les applications perso :) bon ok je sors. :hand:

[2013-08-05 21:59] barbogogo commented on #31
@cobalt74 tu as peut etre une partie de la réponse... comment sont hachés les mots de passe dans Leed (pardon, j'ai ma flemme de fouiller le code...)

[2013-08-05 22:09] cobalt74 commented on #31
dans le fichier action.php cherche le case sur login.

et après, $user = $userManager->exist($_['login'],$_['password']);
dans User.class.php tu as le contenu de la fonction

[2013-08-05 22:11] cobalt74 commented on #31
il y a une protection des variables aussi dans le common.php

//Récuperation et sécurisation de toutes les variables POST et GET
$_ = array();
foreach($_POST as $key=>$val){
$_[$key]=Functions::secure($val, 2); // on ne veut pas d'addslashes
}
foreach($_GET as $key=>$val){
$_[$key]=Functions::secure($val, 2); // on ne veut pas d'addslashes
}

[2013-08-05 22:39] barbogogo commented on #31
@grimlokason @cobalt74 Je crois que j'ai trouvé : il semblerait que ce soit au niveau de l'encodage des caractères.
Leed encode dans sa base de données en utf8_general_ci alors que l'application Android en UTF-8.
Du coup lors du hash du mot de passe, le résultat est différent lors d'une utilisation de caractères spéciaux (comme le &).
Pouvez-vous confirmer que vous utilisez des caractères spéciaux

[2013-08-06 04:45] agentcobra opened #35 "Url non valide depuis passage v1"
Bonjour,
depuis le passage en V1,
j'ai url invalide et l'application se ferme toute seule en mettant que "LeedReader s'est arrêté".
Pourtant l'url est valide http://192.168.19.1/leed/

Ma configuration :
- serveur
  - Synology DS413j
    - Apache/2.2.23
    - PHP 5.3.21
    - MySQL 5.1.49
  - Leed version 1.5 Beta
- leed-api en version 0.5
- client
  - Android 4.1.2 (galaxy note 2)

_note : en rev

[2013-08-06 05:54] cobalt74 commented on #31
Pas de caractère spéciaux pour mon mdp. Désolé.

[2013-08-06 06:17] barbogogo commented on #35
Bonjour @agentcobra,
Merci pour ce retour.
Est-ce que as essayé le couple LeedReader 0.9 - Leed-API 0.5 ?
Est-ce que tu as bien mis le "http://" devant le lien ?
Ton url pointe sur une IP locale. Etais tu bien connecté à ton réseau local ?

[2013-08-06 06:18] barbogogo commented on #31
@cobalt74 juste des chiffres et des lettre non accentuées ?

[2013-08-06 07:22] barbogogo commented on #35
@agentcobra,
Peux-tu ajouter le numéro de port dans ton url ?
http://192.168.19.1:80/leed/
Il semblerait que la fonction HttpGet puisse être sensible...

[2013-08-06 08:31] cobalt74 commented on #31
ouep minuscule/majuscule/chiffre

[2013-08-06 10:29] agentcobra commented on #35
@barbogogo, tu as pas vu ma petite note.
Le problème persiste en ajoutant le port.
Je suis bien connecté sur mon lan, sinon j'arriverai pas à utiliser l'application github sur mon note 2 :)

[2013-08-06 10:59] agentcobra commented on #35
J'ai remis sans le port, il me le prends en compte mais lors du changement, il plante

[2013-08-06 11:00] grimlokason commented on #31
@barbogogo
Tout en minuscule, même les chiffres !
Mot de passe et identifiant sans caractères spéciaux et court :  login failed

[2013-08-06 11:35] barbogogo commented on #35
@agentcobra peux-tu essayer [cette appli](http://barbogogo.fr/xplorer/data/public/aa1dc80a3b8defb8368ea752c4bcf036.php?lang=fr), j'ai ajouté du code qui permet de remonter les erreurs rencontrées.
Peux-tu me faire un retour quant à l'erreur remontée (en espérant que ça marche) ?

[2013-08-06 13:37] barbogogo commented on #31
@cobalt74 @grimlokason Pouvez-vous faire une petite vérification (désolé je tâtonne).
Pouvez-vous installer cette [version de LeedReader](http://barbogogo.fr/xplorer/data/public/2107bcedf2f30899d4b751377ae36f86.php?lang=fr), puis après avoir rentré vos identifiant cliquer sur "getPsw" dans le menu.
Vous obtiendrez le mot de passe en clair (attention, cachez votre écran) et le mot de passe hashé.
P

[2013-08-06 15:03] grimlokason commented on #31
@barbogogo j'ai bien le même hash

[2013-08-06 16:13] agentcobra commented on #35
J'ai rien de plus, j'ai un écran de chargement puis un écran blanc puis plantage

[2013-08-06 18:39] barbogogo commented on #31
@grimlokason @cobalt74, j'ai réaliser une version permettant de remonter la raison de l'erreur de l'authentification. Peux-être que cela pourra nous aider.
Pour ce faire, il faut télécharger [LeedReader-v1.2](http://barbogogo.fr/xplorer/data/public/73a9e69d9c082a3826ab73e9baf6833b.php?lang=fr) et [Leed-API v0.7](https://github.com/barbogogo/leed-API/tree/3f6ffd6b50fce16fc0ddb48ebb97b10fbc2d7df4).

[2013-08-06 19:11] cobalt74 commented on #31
@barbogogo voici le message

**Login failed**
Digest vide

je modifie mon message, je vais comparer le hash
Comparaison ok, j'ai le bon hash mais le message ci dessus

[2013-08-06 19:20] cobalt74 commented on #31
@barbogogo info importante, ça marche avec mon environnement de dev sur mon nas.
mais ne fonctionne pas avec mon environnement de production (Hébergement OVH)

Est ce que le truc indegest ne serait pas à activer sur ces hébergements ! :)

[2013-08-06 19:56] cobalt74 commented on #31
je suis sur la piste du module mod_headers que je n'ai pas sur OVH et qui ressort sur mon NAS dès que je fais un appel à l'application.

[2013-08-07 10:05] grimlokason commented on #31
@barbogogo j'ai le même résultat que cobalt74

@cobalt74 tu es aussi sur un mutualisé ovh ?, pro ou perso ?
Il semble que le mod_headers est présent sur les pro.
Sais-tu comment activer les modules ?

[2013-08-07 10:19] cobalt74 commented on #31
@grimlokason sur un perso pour l'instant.
Je ne sais comment l'activer désolé. A chercher sur le forum d'OVH.
Je n'ai pas pu avancer sur mes tests mais @barbogogo va nous trouver une solution :+1:

[2013-08-07 10:38] barbogogo commented on #31
Bonjour messieurs,
J'ai chercher quelques pistes pour activer mod_headers via un .htaccess, mais il semblerait que ce ne soit pas possible...
Du coup, une authentification par deux moyens sera proposée:
- une via digest (solution par défaut ? avec un message d'erreur précis si mod_headers n'est pas installé),
- l'autre plus simple, en envoyant le sha1 du mot de passe vers l'API qui le comparera av

[2013-08-07 14:23] barbogogo commented on #31
Messieurs,
J'ai terminé la mise à jour de LeedReader et de l'API pour que le choix du mode d'authentification soit possible.
Par défaut, j'ai préféré ne pas passer par le mode Digest. Le mot de passe est donc hashé (sha1) puis envoyé vers l'API.
Vous pourrez trouver [LeedReader-v1.3](http://barbogogo.fr/xplorer/data/public/786ccc.php) (j'espère que la v1.5 sera également la bonne) et [Leed-API-v0.

[2013-08-07 14:45] grimlokason commented on #31
@barbogogo ça fonctionne :D

[2013-08-07 15:26] barbogogo commented on #31
@grimlokason cool :smile:

[2013-08-07 15:43] barbogogo commented on #35
Bonjour @agentcobra,
Peux-tu essayer [LeedReader-v1.3](http://barbogogo.fr/xplorer/data/public/786ccc.php) avec [Leed-API-v0.8](https://github.com/barbogogo/leed-API/tree/ae6e0fbaab7013a46c7d6be631dfc52a15c2274e).
Il y a une meilleur surveillance des erreurs...

[2013-08-07 16:40] agentcobra commented on #35
j'ai mis à jour les 2, le problème d'url à l'air résolu mais j'ai toujours l'application qui crash.
j'ai vider les données de l'app sur l'android pour partir d'une installe fraiche et rerentrer les infos. j'ai pas touché à l'option de l'auth. :unamused:

[2013-08-07 17:06] barbogogo commented on #35
Peux-tu me donner un accès Leed (soit tu fais une nouvelle install, soit tu me donne un login / mote de passe) ?
Je voudrais tester en debug avec le [SDK](http://fr.wikipedia.org/wiki/SDK).

[2013-08-07 19:13] cobalt74 commented on #31
C'est good ;)

(pour la version multi user)
pour finir sur l'authentification, si on change de user, il ne recharge pas complètement les objets. On doit quitter l'application et la relancer pour que l'environnement de l'utilisateur soit correctement chargé.

[2013-08-07 19:30] barbogogo commented on #31
@cobalt74, merci pour ces informations.
La version multi-user est la prochaine étape, mais j'ai déjà une petite idée :smile:

[2013-08-07 19:38] cobalt74 commented on #31
ça marche déjà mais c'est juste qu'il faut quitter l'appli et la relancer pour correctement charger l'environnement

[2013-08-07 20:28] barbogogo commented on #31
Peux-tu essayer l'[appli suivante](http://barbogogo.fr/xplorer/data/public/a966a5.php) ?

[2013-08-07 20:35] cobalt74 commented on #31
Nickel :)

[2013-08-07 20:37] barbogogo commented on #31
Cool :smile:
les sujets de @cobalt74 et @grimlokason sont donc clos.

@misterair, je ne t'ai pas oublié :smile:

[2013-08-07 20:50] agentcobra commented on #35
:mailbox:

[2013-08-07 21:46] ghost commented on #31
@barbogogo vraiment dommage que tu sois obligé de créer une 2e branche pour les version anciennes d'Android. :/

[2013-08-08 07:06] barbogogo commented on #31
@misterair pas de problème !

Pour récapituler :
Tu as la configuration suivante :
- Adroid 2.2
- Leed 1.5
- Leed-API 0.4
- LeedReader 0.9
- PHP 5.4

Symptomes :
- En mode OffLine, l'application tourne dans le vide, seulement "Initialisation" est affiché à l'écran.
- En mode On Line, l'application tourne dans le vide

Lors de l'utilisation de LeedReader 0.6 avec Leed-API 0.2, tout fonctionne.
Ce c

[2013-08-08 11:44] barbogogo commented on #31
@misterair, peux-tu essayer le couple [LeedReader v0.10](http://barbogogo.fr/xplorer/data/public/f4a777.php) et [Leed-API v0.8](https://github.com/barbogogo/leed-API/tree/ae6e0fbaab7013a46c7d6be631dfc52a15c2274e) ?

[2013-08-08 12:03] ghost commented on #31
c'est possible d'avoir un version déjà compilée de LeedReader v0.10 stp ?

[2013-08-08 12:09] barbogogo commented on #31
oups : [LeedReader v0.10](http://barbogogo.fr/xplorer/data/public/0a89e7.php)
Je t'ai donné le bon fichier, mais j'ai oublié l'extension...

[2013-08-08 12:23] ghost commented on #31
joli boulot! mode online et offline fonctionnels! il n'y a que le mode d'identification "Digest" qui fait planter l'Application si j'essaie de l'activer.

[2013-08-08 12:26] barbogogo commented on #31
Cool si tout marche :smile:

Le mode digest fait planter l'application ?
intéressant... je vais regarder ça...

[2013-08-08 12:29] barbogogo commented on #35
Lorsque tu as réinitialisé les données de l'application, le mode de connexion pour l'authentification était sur Basic ?

[2013-08-08 12:29] ghost commented on #31
tu vas pouvoir enfin plancher sur le design et l'implémentation d'autres fonctionnalités surtout ;-)

[2013-08-08 12:32] barbogogo commented on #31
Le design, c'est fait avec la v1, mais elle n'est pas compatible avec android 2.2...
Pour les autres fonctionnalités, si tu as des idées ;-)

[2013-08-08 12:32] #31 closed, assigned to barbogogo

[2013-08-08 12:34] #34 closed, assigned to barbogogo

[2013-08-08 12:34] #33 closed, assigned to nobody

[2013-08-08 12:35] #15 closed, assigned to barbogogo

[2013-08-08 12:35] #16 closed, assigned to barbogogo

[2013-08-08 12:35] ghost commented on #31
j'espère un jour changer de smartphone ça serait une solution aussi :D
Pour les fonctionnalités tout à été dit il me semble. Il n'y a que le bouton de synchronisation qui manque vraiment.

[2013-08-08 12:38] barbogogo commented on #31
Toutefois, on peut essayer de tendre vers ce que tu as proposé : https://github.com/barbogogo/leedReader/issues/27#issuecomment-21554102

[2013-08-08 12:39] ghost commented on #31
ce serait top, mais il ne faut pas que ça te donne trop de travail

[2013-08-08 12:44] barbogogo commented on #31
On va voir. Par contre, je suis intéressé par les icones que tu as utilisée ;-)
Si elles sont libres d'utilisation, je veux bien les récupérer pour l'application ;-)

[2013-08-08 12:52] ghost commented on #31
ce ne sont pas vraiment des icônes c'est une [Font](http://mfglabs.github.io/mfglabs-iconset/)

[2013-08-08 12:55] barbogogo commented on #31
Parfait ;-)
Merci

[2013-08-08 16:36] agentcobra commented on #35
Oui en basic

[2013-08-08 17:06] barbogogo commented on #35
Est-ce que tu utilises le port 80 ?

[2013-08-08 17:35] barbogogo opened #36 "Permettre la synchronisation des flux"
Ajouter l'option de synchronisdtion de flux sur le serveur Leed.

[2013-08-08 17:37] barbogogo opened #37 "Pouvoir mettre un répertoire ou un flux lu"
Ajouter l'option pour mettre tous les articles d'une répertoire ou d'un flux comme lus.

[2013-08-08 18:34] agentcobra commented on #35
oui, j'utilise le port 80

[2013-08-08 18:38] barbogogo commented on #35
Ok, je viens de voir qu'il pouvait y avoir des plantages si le serveur ne répondait pas assez rapidement.
Aujourd'hui, la limite est mise à 10s, après tout explose... c'est étrange...
Je vais voir ce sujet de plus près.
Je te tiens au courant :smile:

[2013-08-08 18:44] agentcobra commented on #35
ok, merci pour votre aide, n'hésitez pas à me demander de tester d'autres apk ou api ;)
(pour la connexion distante, il faut que je whitelist votre adresse ip (cf :mailbox: ))

[2013-08-08 18:49] barbogogo commented on #36
héhé ça marche.
Par contre, je vais faire un peu de css et rendre le code plus propre :smile:

![synchronisation](https://f.cloud.github.com/assets/4095207/933662/fc4fcf04-005a-11e3-92dc-549c4e4c0fb4.png)

Rendez-vous demain pour la fonction disponible sur LeedReader-v0.X et LeedReader-v1.X

[2013-08-09 07:11] #36 closed, assigned to barbogogo

[2013-08-09 09:06] grimlokason commented on #27
@barbogogo : L'interface est très bien. Il y a juste un "bug" qui peu être gênant, quand on est en portrait sur un article, qu'on pivote en paysage, on repasse à la liste des articles.

[2013-08-09 09:23] barbogogo commented on #35
Bonjour @agentcobra,
Pouvez-vous essayer [LeedReader-v1.3.2](http://barbogogo.fr/xplorer/data/public/83a3b0.php) avec [Leed-API-v0.8](https://github.com/barbogogo/leed-API/tree/ae6e0fbaab7013a46c7d6be631dfc52a15c2274e) ?
Merci :smile:

[2013-08-09 09:33] barbogogo opened #38 "Réinitialisation de l'application lors de la rotation du téléphone"
Ouverture du ticket suite au commentaire de @grimlokason (https://github.com/barbogogo/leedReader/issues/27#issuecomment-22383459).

[2013-08-09 15:02] barbogogo commented on #36
@grimlokason, @misterair, @cobalt74,
La synchronisation est disponible avec [LeedReader-v1.3.2](http://barbogogo.fr/xplorer/data/public/83a3b0.php) et [LeedReader-v0.10.1](http://barbogogo.fr/xplorer/data/public/d2759c.php).

[2013-08-09 15:29] agentcobra commented on #35
![screenshot_2013-08-09-17-24-09](https://f.cloud.github.com/assets/1831853/938894/78a2962e-0108-11e3-86cc-9ae437d6a70e.png)

[2013-08-09 20:33] cobalt74 commented on #36
yop, synchro ok. par contre, j'ai eu un plantage de l'appli suite à la synchro, quand je suis allé sur le menu cachédes flux et cliqué sur un flux.

[2013-08-09 22:47] ghost commented on #36
la synchro fonctionne pour LeedReader-v0.10.1.
par contre c'est normal que lorsque je glisse un article vers la droite ou la gauche ça marque le dossier comme lu?

[2013-08-10 12:56] barbogogo commented on #36
Normalement, ça ne met que l'article comme lu... je vérifie.

[2013-08-11 07:25] qwertygc opened #39 "Site du projet down"
Bonjour,
je souhaite utiliser cette app. Malheureusement, le site du projet, pour le télécharger, semble avoir du mal à ce connecter. Possibilité d'avoir l'APK + le leed-API par ailleurs ? Merci

[2013-08-11 14:04] barbogogo commented on #39
Bonjour,
Le site est de nouveau opérationnel. Désolé pour ce contre temps.
L'appli est encore en beta et des bugs ont été remontés. Merci pour vos retours.

[2013-08-11 14:11] barbogogo opened #40 "Plantage après synchro"
Plantage de l'application suite à la synchronisation des flux du serveur et à la sélection d'un répertoire.
En attendant la correction, il faut appuyer sur "recharger" dans le menu.

[2013-08-12 08:23] barbogogo commented on #36
@cobalt74, c'est corrigé avec le push [dc35f51b72](https://github.com/barbogogo/leedReader/tree/dc35f51b72b10377868d1362b8c0a2c736e3ba76)

[2013-08-12 08:37] barbogogo commented on #36
@misterair, c'est corrigé avec le push [2d03da4d2c](https://github.com/barbogogo/leedReader/commit/2d03da4d2c3588d8daa803be80d9a05e00491561)

[2013-08-12 08:43] barbogogo commented on #35
Bonjour,
Il semblerait que le serveur n'écoute pas sur ce port...
Est-ce que la connexion nécessite un certificat (https, ...) ?
Il me semble que le problème vienne du serveur.

[2013-08-12 09:48] ghost commented on #36
ok.
J'ai remarqué que le version 0.10 à aussi le problème du retour au menu lors d'un passage du mode portrait/paysage

[2013-08-12 10:19] barbogogo opened #41 "Remplacer lu / noLu et fav / noFav par des icones"

[2013-08-12 10:20] barbogogo commented on #36
Oui, https://github.com/barbogogo/leedReader/issues/38 ;-)

[2013-08-12 10:42] agentcobra commented on #35
Il est bien sur le port 80.
Après redémarrage du nas + service httpd + maj leed
Le problème est corrigé.

[2013-08-12 10:42] #35 closed, assigned to barbogogo

[2013-08-12 11:07] barbogogo commented on #35
@agentcobra parfait :smile:
Bonne lecture !

[2013-08-12 11:09] barbogogo commented on #40
LeedReader-v1 : https://github.com/barbogogo/leedReader/commit/dc35f51b72b10377868d1362b8c0a2c736e3ba76
LeedReader-v0 : https://github.com/barbogogo/leedReader/commit/afe8465d46112a5f0b0ab9fb77d0521e1f97cc8a

[2013-08-12 11:09] #40 closed, assigned to barbogogo

[2013-08-12 11:21] #41 closed, assigned to barbogogo

[2013-08-12 11:26] #38 closed, assigned to nobody

[2013-08-12 12:30] ghost commented on #36
voilà ^^

Et est-ce possible d'avoir une entrée "partage" dans le menu de la version 0.10? ce serait sympa et pratique :-)

[2013-08-12 12:40] qwertygc commented on #39
Merci. Petite suggestion : Avoir l'article complet sous les yeux et non cliquer sur le lien pour le lire. Voilà :)

[2013-08-12 13:28] barbogogo commented on #36
Yep, elle existe sur la v1, mais il y a une incompatibilité majeure pour l'utiliser en v0...
Je regarde comment développer ça manuellement.

[2013-08-12 14:54] barbogogo commented on #36
Fonction ajoutée dans le commit https://github.com/barbogogo/leedReader/commit/6e763049d528534e6187d00e8399afd5c1270be5

[2013-08-13 12:57] #37 closed, assigned to barbogogo

[2013-08-13 17:57] barbogogo opened #42 "Avoir l'article complet sous les yeux"
"Petite suggestion : Avoir l'article complet sous les yeux et non cliquer sur le lien pour le lire."
https://github.com/barbogogo/leedReader/issues/39#issuecomment-22490188

[2013-08-13 18:05] barbogogo commented on #42
@qwertygc, j'ai fait un essai et je ne trouve pas ça très concluant.
C'est éventuellement intéressant pour des articles courts :
![sans titre](https://f.cloud.github.com/assets/4095207/956671/0f44ded4-0442-11e3-8f53-d4b5cf3332dc.png)

Par contre, pour des articles long, ce n'est pas très pratique.

Trouves-tu que la navigation entre les articles via un [swipe](http://developer.android.com/design/p

[2013-08-13 20:05] cobalt74 opened #43 "Dossier"
Pouvoir charger les articles d'un dossier lorsqu'on clic sur le libellé ou sur le nombre.

[2013-08-13 20:40] barbogogo commented on #43
Salut @cobalt74,
Tu parles vraiment du dossier ou seulement du titre du flux + le nombre d'articles non lus ?

Aujourd'hui, on ne peut voir que les articles du flux sélectionné en cliquant sur son libellé.
Il est possible d'ajouter la même fonctionnalité en cliquant sur le nombre d'articles non lus.

Il est également envisageable d'afficher les articles d'un dossier lorsque l'on clique sur son tit

[2013-08-13 20:45] cobalt74 commented on #43
Oui sur le dossier

[2013-08-13 20:59] cobalt74 opened #44 "Chargements des articles"
Hello. J'utilise a fond l'appli depuis quelques jours avec la tablette et c'est top. Bravo.
2 suggestions
- un compteur des non lus a coté du titre LeedReader
- une sorte de lasyloading quand on arrive a la fin des x articles chargés

[2013-08-13 21:18] cobalt74 commented on #44
- Partage d'un article avec shaarli
- pouvoir augmenter la taille de la police des articles
- les dossiers avec un titre long passe sur une seconde ligne mais la police est coupée sur la deuxième ligne

Je rajoute ;)

[2013-08-13 21:21] cobalt74 commented on #44
- Pouvoir mettre un article en favoris lors de sa lecture
- diminuer un peu la taille de la police des dossiers, c'est trop gros :)

[2013-08-13 21:32] cobalt74 commented on #44
- le message pour mettre tous les messages comme non lus est en anglais.

[2013-08-14 07:20] barbogogo commented on #43
Ok, ça marche, je vais regarder ça.

[2013-08-14 07:29] barbogogo commented on #44
Salut @cobalt74,
Merci pour ton retour en ce qui concerne l'utilisation sur tablette. Tu pourrait m'envoyer une capture d'écran (je n'ai pas fait de tests sur une tablette et je voudrais voir à quoi ça peut ressembler :smile:) ?

Merci pour toutes ces idées, j'ai ajouté mes commentaires en gras !
Je note :
- [ ] un compteur des non lus a coté du titre LeedReader
- [x] une sorte de lasyloading quan

[2013-08-14 07:46] qwertygc commented on #42
Bof. Au pire, une option paramétrable ?

[2013-08-14 09:08] cobalt74 commented on #44
Super pour shaarli j'avais pas vu la petite ampli Android qui me convient parfaitement.
Du coup je viens de voir un truc bizarre, on peut partager sur la liste des articles! :)
Faut que je regarde pour te faire quelques screenshots tablette. Je sais pas faire.

[2013-08-14 09:36] barbogogo commented on #42
Juste pour information, tu as quel type de support (téléphone, tablette, ...) et le modèle ?

[2013-08-14 09:54] qwertygc commented on #42
Smartphone Sony Xperia U

[2013-08-23 13:35] barbogogo commented on #44
Salut @cobalt74, [LeedReader-v1.4.1](http://www.barbogogo.fr/?p=709) est disponible et prend en compte les points fermés ci-dessus.

[2013-08-26 10:27] tmos opened #45 "android 4.3 = plantage"
Salut,
J'ai installé l'application sur mon Nexus 4, avec la dernière version de Android (4.3, dernière mise à jour mineure incluse), et impossible de la lancer : au démarrage elle plante directement.

Mon téléphone est à disposition si besoin de tests :)

[2013-08-26 12:28] barbogogo commented on #45
Salut @tmos,
Merci pour ce retour.
Arf, c'est ennuyeux, mille mercis pour ta collaboration !
En effet, sur une version Android 4.3, ça plante... je regarde ce qui se passe et je te tiens au courant...

[2013-08-26 12:39] barbogogo commented on #45
@tmos, tu pêux essayer [LeedReader-v1.4](http://barbogogo.fr/xplorer/data/public/c18b7d.php) pendant que je me penche sur ce problème majeur...

[2013-08-26 12:45] barbogogo commented on #45
@tmos, bug trouvé et normalement corrigé.
Peux-tu essayer [LeedReader-v1.4.2](http://barbogogo.fr/xplorer/data/public/f223b7.php).

Le bug touche toutes les personnes n'ayant pas paramétré LeedReader dans une version antérieure...

Encore merci !

[2013-08-26 13:20] tmos commented on #45
ça marche ! Merci pour le fix rapide :)

[2013-08-26 13:20] #45 closed, assigned to barbogogo

[2013-08-26 13:25] barbogogo commented on #45
Merci à toi pour le retour :smile:

[2013-08-26 14:40] kvnco opened #46 "Connexion KO avec mot de passe complexe"
Bonjour,

Tout d'abord merci pour ce joli projet.

Je souhaite remonter un bug qui rend la connexion impossible avec un mot de passe complexe (j'entends par complexe : mon pwd contient des caractères alphanum, des espaces et certains signes de ponctuation). J'obtiens alors un message indiquant "Login failed".
J'utilise le mode d'authentification "basic". Dans les logs du serveurs, je peux voir que

[2013-08-26 15:19] kvnco commented on #46
Après quelques tests, c'est la gestion des espaces qui pose problème…

[2013-08-26 16:36] barbogogo commented on #46
Bonjour.
Merci pour ces informations.
Nous avons en effet détecté ce type de problème avec le caractère espace et &. Toutefois, ces caractères étant peu utilisés pour des mots de passe nous en sommes resté là.
Il est cependant possible que la liste de caractères "interdits" soit plus longue.
C'est néanmoins un sujet important sur lequel je vais me pencher très rapidement :smile:

[2013-08-26 17:00] kvnco commented on #46
Hello,

J'ai dit une bêtises (oups !) l'espace ne pose pas de problème c'est une quote simple qui me coinçait.

Le problème vient des variables passées en paramètre à Leed qui sont nettoyées
Leed / Functions.class.php (23)
htmlspecialchars($var, ENT_QUOTES, "UTF-8");
Appelé depuis
Leed / common.php (60)
$_ = array();
foreach($_POST as $key=>$val){
$_[$key]=Functions::secure($val, 2); // on ne veut

[2013-08-26 19:14] barbogogo commented on #46
Salut,

Merci pour toutes ces informations.
J'ai un train de retard, désolé.
En réalité, le mot de passe est haché par l'application avant d'etre envoyé à l'api. L'api reçoit normalement une chaine alphanumérique sans espace ni signe de ponctuation.
Je vais regarder si l'encodage fait au niveau de la classe Utils appelée par la classe ApiConnection est correct.

Est-ce que tu as essayé en mode Dig

[2013-08-26 21:37] kvnco commented on #46
Re-bonjour,

Je n'ai peut-être pas été assez clair, je vais reprendre…
Sous Leed, lorsque le pwd est enregistré, celui-ci est nettoyé (les caractères qui-vont-bien sont remplacés, voir la doc à ce sujet) par la fonction PHP htmlspecialchars(). Ensuite, celui-ci est chiffré en SHA1 et envoyé en base. Si j'ai bien compris, c'est cette chaîne qui est récupérée par l'API.

La solution est donc que l'a

[2013-08-27 06:40] barbogogo opened #47 "Fonction de notification sur la disponibilité d’une nouvelle version indisponible"
Suite à la mise à jour de LeedReader-v1.4.2, la fonction de notification sur la disponibilité d’une nouvelle version n'est plus fonctionnelle.
Ceci est dû au manque d'initialisation d'une variable...

[2013-08-27 06:48] barbogogo commented on #46
Bonjour,

En effet, je n'avais pas compris, mais au final, nous disons la même chose ;-)

Merci pour ces précisions.

[2013-08-27 06:52] kvnco commented on #46
Oui :)

[2013-08-27 07:57] cobalt74 commented on #47
En voulant installer la 1.4.2, elle est indiqué 1.4.1beta sur le apk

[2013-08-27 08:06] barbogogo commented on #47
Salut,
Oui, merci :smile:

[2013-08-27 08:06] #47 closed, assigned to barbogogo

[2013-08-27 09:50] barbogogo commented on #46
Encore merci
Mise à jour de LeedReader : http://www.barbogogo.fr/leedreader-v1-4-3-est-pret-pour-les-tests/

[2013-08-27 09:50] #46 closed, assigned to barbogogo

[2013-08-27 11:53] cobalt74 commented on #44
J'ai plus de lasyloading sur la 1.4.3
Mon utilisation du chargement des articles ce fait plutôt l'osque je glisse avec le doigt dun article a l'autre. Ou alors j'ai halluciné car c'est pas encore fait !

[2013-08-27 12:13] barbogogo commented on #44
Si, normalement c'est implémenté...
Je regarde ça car je n'ai rien touché de ce côté...

Tu as changé de version d'API ?

[2013-08-27 13:21] cobalt74 commented on #44
Bonne question !? J'ai pas changé l'API depuis la 1.4 je crois :)

[2013-08-27 14:32] barbogogo commented on #44
Est-ce que tu peux essayer avec l'[API v0.10](https://github.com/barbogogo/leed-API/tree/152bbba827155a3ea40d803a03db92c6bb86cf1f) ?

[2013-08-27 22:00] cobalt74 commented on #44
Oué mais non!
J'ai un petit soucis aussi,'je lance l'appli et j'ai chargement en cours qui reste jusqu'à je clic sur l'écran qui me dirige vers les paramètres. Je sors du parametrage et hop les articles se chargent.

[2013-08-28 05:33] barbogogo commented on #44
ok,
donc toujours pas de lasyloading... je regarde.
Oui, j'ai vu le même problème : sur la v1.4.3, il faut appuyer sur l'écran pour rentrer dans les paramètres puis quitter les paramètres pour que les informations se chargent... je regarde.

[2013-08-28 06:36] barbogogo opened #48 "Pas de chargement des données lors de l'ouverture de l'application"
Lors de l'ouverture de l'application, les données n'apparaissent pas. Il faut appuyer sur l'écran pour aller dans les paramètres et faire un retour (sans avoir modifié les paramètres) pour que les données s'affichent.

[2013-08-28 06:37] barbogogo commented on #44
Ouverture du ticket https://github.com/barbogogo/leedReader/issues/48, sur le non chargement des données lors de l'ouverture de l'application.

[2013-08-28 06:43] barbogogo commented on #48
La nouvelle révision [LeedReader_1.4.4.apk](http://barbogogo.fr/xplorer/data/public/e4f6bb.php) est disponible.

[2013-08-28 06:43] #48 closed, assigned to barbogogo

[2013-08-28 11:36] barbogogo commented on #48
Clôture du [point identifié](https://github.com/barbogogo/leedReader/issues/44#issuecomment-23374682) dans le ticket #44.

[2013-08-30 10:07] cobalt74 commented on #44
c'est good sur le chargement.
pour le lasyloading, ça remarche mais j'ai une erreur API lorsque j'arrive à la fin je crois.

**API Connection Erreur 3**
No value for articles

[2013-08-30 10:09] cobalt74 commented on #44
en faite il serait sympa d'avoir le lasyloading sur la lecture de l'article suivant.
je m'explique : j'ai ma liste de 20 articles affichés, je clic sur le premier, je lis et passe au suivant avec un glissé du doigt mais arrivé au dernier, je suis obligé de cliquer sur rafraichir pour afficher la suite.

[2013-08-30 15:19] barbogogo opened #49 "Message indiquant un flux vide"
Afficher un message lorsqu'un flux ou un répertoire est vide.

[2013-08-30 15:32] barbogogo commented on #44
Salut,
Merci pour ce retour de bug.
Ok, en effet le lazy loading n'est pas implémenté lors de la lecture des articles. Très bonne idée ;-)

[2013-08-30 21:48] ghost commented on #2
Ce serait sympa d'avoir l'affichage de la première photo d'un article et un résumé en dessous du titre.
J'ai noté que la taille de police est un peu petite, c'est possible d'ajouter une option dans les paramètres pour ajuster la taille à sa convenance?

[2013-08-30 21:51] ghost commented on #36
Petit détail: tu peux ajouter un retour automatique à la page d'accueil après la synchronisation? comme le logo peut-il être cliquable et rendre à cette page d'accueil?

Il manque aussi l'affichage des pages par catégories comme sur la version Web de Leed.

[2013-09-01 10:31] kvnco opened #50 "Fonctionnement mode hors-ligne"
Bonjour,

Ce ticket concerne plutôt une question qu'un rapport de bug.

J'utilise l'application depuis quelques jours, mais je ne parviens pas à saisir le fonctionnement du mode hors-ligne.
J'arrive bien à consulter les articles en étant déconnecté lorsque je sélectionne le mode hors-ligne. Ceux-ci sont bien marqué comme lu, dans l'application… mais comment ensuite synchroniser les billets lus ave

[2013-09-01 10:34] kvnco opened #51 "Masquer les dossiers "vides""
Bonjour,

Puisque le choix est fait de ne pas récupérer sur LeedReader les flux lus, pourquoi ne pas masquer les dossiers/flux du menu ne contenant pas d'éléments non lus ?

[2013-09-01 11:13] kvnco opened #52 "Lorsqu'une image comporte un texte au survol (attribut "title"), ajouter un champ le reprenant"
Bonjour,

Voici une suggestion reprise d'une idée qui était implémentée sur Google Reader et que je juge assez utile.

Lorsqu'une image comporte un champ "title" (texte dont le contenu est affiché au survol), un champ est ajouté sous l'image, reprenant ce contenu.
Ex. : les illustrations du site xkcd
![9a104b08-d6d8-11e2-8d2e-ad1202a2c847](https://f.cloud.github.com/assets/2389101/1063875/5f1922ee

[2013-09-02 07:49] barbogogo commented on #2
Salut,
Oui, j'y pense, mais je n'ai pas complètement terminé ma réflexion. D'ailleurs, cela peut être un sujet de discussion intéressant, d'où la réouverture de ce ticket :smile: !
En effet, en travaillant un peu sur le sujet, l'une des solutions retenues est de récupérer la première image trouvée dans l'article avec quelque chose du genre : `<img ([^><]*) src="([^="><]*)" ([^><]*)>`, où la second

[2013-09-02 07:55] barbogogo opened #53 "Ajouter préférence pour la fin de la synchronisation"
Suite au fil de discussion du ticket #36 (commentaire https://github.com/barbogogo/leedReader/issues/36#issuecomment-23591359), ajouter dans les paramètres le choix entre l'affichage du statut de la synchronisation et le retour à la page d'accueil.

[2013-09-02 07:57] barbogogo opened #54 "Navigation par catégorie"
Suite au fil de discussion du ticket #36 (commentaire https://github.com/barbogogo/leedReader/issues/36#issuecomment-23591359), ajouter la possibilité de naviguer par catégories.

[2013-09-02 07:57] barbogogo commented on #36
Oui, il est possible de faire en sorte que l'on retourne automatiquement vers la page d'accueil après une synchronisation avec un petit message "Synchronisation terminée". Toutefois, dans un premier temps, j'ai préféré afficher le statut de la synchronisation. Peut être que certains préféreront le retour automatique et d'autres l'affichage du statut de la synchronisation... Cela peut être un param

[2013-09-02 07:59] barbogogo opened #55 "Lazy loading lors de la navigation dans les articles"
Suite au fil de discussion du ticket #44 (commentaire https://github.com/barbogogo/leedReader/issues/44#issuecomment-23551989), ajouter un lazy loading lors de la navigation dans les articles.

[2013-09-02 08:02] barbogogo commented on #50
Bonjour,

Normalement, il suffit de revenir en mode en-ligne et la synchronisation se fait avec le serveur.
Tous les articles lus seront lus sur le serveur et tous les articles mis comme favoris seront mis comme favoris sur le serveur.

Si il y a un problème de synchronisation, n'hésite pas à faire un retour.

[2013-09-02 08:03] barbogogo commented on #51
Bonjour,

J'ai peur que ça déstabilise... ça permet de confirmer que tous les articles du répertoire sont lus.

A terme, il est prévu que les flux lus soient également récupérés.

[2013-09-02 08:06] barbogogo commented on #52
Bonjour,

Effectivement, cette fonctionnalité est très intéressante.

Merci :smile:

[2013-09-02 08:09] barbogogo commented on #42
Bonjour,

Afin de mieux se rendre compte, je vais t'envoyer un fichier apk pour tester et me dire ce que tu pense de la navigation.

[2013-09-02 08:28] kvnco commented on #50
Merci pour le retour.

Ce n'est effectivement pas le comportement que j'ai constaté jusqu'à
maintenant. Néanmoins, je vais refaire quelques tests avant d'en conclure à
un bug (j'ai ~ 500 flux, et je veux m'assurer que ce n'est pas un problème
de charge du serveur ou de connexion)…

Kevin

[2013-09-02 08:32] barbogogo commented on #42
Et voilà, à tester...
http://barbogogo.fr/xplorer/data/public/f491e4.php

[2013-09-02 08:33] barbogogo commented on #50
Ok, merci pour l'investigation et pour ton retour :smile:

[2013-09-02 08:37] kvnco commented on #51
Alors peut-être que ça serait une option intéressante… en tous cas, lorsque
l'on a beaucoup de flux.

Kevin

[2013-09-02 09:18] barbogogo commented on #51
Ok, je note : ajouter une option dans les paramètres permettant de masquer les répertoires lorsque tous les articles du répertoire sont lus.

Merci

[2013-09-02 09:41] #49 closed, assigned to barbogogo

[2013-09-02 09:46] #39 closed, assigned to nobody

[2013-09-02 10:17] qwertygc commented on #42
C'est vachement mieux. Par contre, c'est possible d'avoir pas de marges ? Je te montre.
![screenshot_2013-09-02-12-16-09](https://f.cloud.github.com/assets/4261986/1066664/dd46fb5c-13b8-11e3-9a86-6c3454f506ad.png)
A droite et à gauche, ça serai possible de faire disparaitre ? width à 100% quoi.

[2013-09-02 10:27] barbogogo commented on #42
Ces marges existent pour les boutons pour favoriser l'article ou le mettre en lu / non lu.
Cet affichage ne permet pas de mettre les articles comme lus automatiquement.

[2013-09-02 15:24] kvnco commented on #50
Hello,

Il semble bien qu'il y ait un soucis quelque part.

Voici le test fait
- j'ai d'abord identifié un item en le marquant d'abord comme lui puis non lu (pour récupérer son id)
- je suis ensuite passé en non-connecté, j'ai marqué cet item comme lu, puis en connecté pour voir ce qui se passait
- une requête est bien passée lors de la reconnexion mais elle est sans effet

"GET /plugins/api/json.

[2013-09-02 16:30] barbogogo commented on #50
Salut,

Merci beaucoup pour ces détails qui m'ont permis d'aller très vite.
En effet, il y a un problème lié à l'identification. Avant la synchronisation, il faut faire une nouvelle authentification...

Bravo et merci :smile:

[2013-09-02 16:45] kvnco commented on #50
À défaut d'avoir le temps d'installer le SDK et de mettre la main à la pâte
(mais ça viendra), j'essaie d'être un beta-testeur efficace ! :)

[2013-09-02 19:28] barbogogo commented on #50
Et ça marche à la perfection :smile:

[2013-09-03 20:06] ghost commented on #2
il faudrait soit que tu prévois une images aléatoire de remplacement s'il n'y a rien, soit l'espace dédié à l'image qui se libère pour laisser plus de place au résumé...
Et il faudrait des régles d'exlusions pour les images de certains domaines comme les réseaux sociaux. Feedly utilise des images de remplacement il me semble, mais surtout arrive à supprimer les images des réseaux sociaux.

[2013-09-04 08:02] barbogogo commented on #2
Ok, je vais regarder.
Si il y a une image, peut-être qu'un test sur la taille de celle-ci est suffisant pour vérifier s'il s'agit d'une icône ou non...

[2013-09-08 18:34] kvnco commented on #51
Merci ! :)

[2013-09-08 18:34] #51 closed, assigned to nobody

[2013-09-08 18:35] kvnco commented on #50
Corrigé, merci !

[2013-09-08 18:35] #50 closed, assigned to nobody

[2013-09-08 18:40] kvnco opened #56 "Crash lors de la lecture d'un item"
Bonjour,

Je constate depuis la dernière mise-à-jour (v 1.4.5b) quelques crash.
Ceux-ci ne sont pas systématiques, mais proviennent généralement lorsqu'assez rapidement après le lancement de l'application (alors que le chargement ne serait pas terminé ?), j'essaie d'afficher un item en cliquant dessus ou je le marque comme lu. L'application se ferme alors et une fenêtre indique « L'application "Le

[2013-09-08 18:50] kvnco opened #57 "Erreur API/serveur => timeout ?"
Bonjour,

J'utilise régulièrement l'application « en mobilité » et il m'arrive très souvent lorsque j'utilise la connexion internet mobile que celle-ci m'affiche des erreurs indiquant soit une erreur d'API, soit que le serveur ne répond pas.
Pourtant la connexion DATA semble fonctionner convenablement et l'étude des logs sur le serveur ne montre rien d'anormal. Y a-t-il un timeout un peu sensible

[2013-09-09 08:00] kvnco opened #58 "[Mode déconnecté] les articles ne s'affichent pas"
Bonjour,

Lors du lancement de l'application tandis que celle-ci est en mode "déconnecté", elle affiche alors "Veuillez patienter" et ne parvient pas à afficher la liste des items.
Pour la débloquer, il suffit d'appuyer sur le bouton rafraîchir et le liste des items est alors immédiatement affichée.

Je reproduis ce comportement à chaque fois.

LeedReader v 1.4.5b
Android 4.1.1

[2013-09-09 08:10] kvnco opened #59 "Erreur dans le décompte des articles non lus"
Bonjour,

Il arrive quelques fois que le décompte d'articles non lus soit correct, mais que lorsque je lis ces articles le décompte devienne alors négatif.
J'ai constaté cette erreur 1 à 2 fois par semaine (avec une utilisation quotidienne).

Ex. : 4 articles non lus. Je lis ces 4 articles. Le flux m'indique alors "-4" aritcles non lus.
![screenshot_2013-09-08-11-01-11](https://f.cloud.github.com/

[2013-09-09 08:23] kvnco opened #60 "Bug graphique : "clignotement" du menu"
Bonjour,

Un bug graphique affecte la barre du haut ainsi que le menu et la liste des items qui se mettent à "clignoter" (voir capture).
Cette erreur n'affecte néanmoins pas le fonctionnement (c'est juste "moche" ;) ).
J'ai constaté cette erreur 4 à 5 fois par semaine (avec une utilisation quotidienne).

![output2](https://f.cloud.github.com/assets/2389101/1105530/c14f1842-1928-11e3-9dac-2c9c4ee1f

[2013-09-09 08:54] kvnco opened #61 "Suggestion : afficher à la lecture d'un article, son flux d'origine"
Bonjour,

Un dernier ticket concernant une suggestion : je souhaiterai lorsque je consulte un article pouvoir retrouver de quel flux il est issu (que son nom soit par exemple affiché sous son titre en plus petite police comme la date et l'auteur).

Bonus : le click sur le nom du flux pourrait envoyer sur le flux directement…

[2013-09-09 15:15] barbogogo commented on #56
Bonjour @kvnco,
Merci pour ce retour.
Est-ce lié à un flux en particulier ?
Les articles non lus sont tout d'abord affichés, ensuite le menu.
A ton avis, est-ce que ce crash apparait lorsque tu cliques sur un item et que le chargement du menu n'est pas terminé ?

[2013-09-09 15:17] barbogogo commented on #57
Merci pour ce retour.
en effet, le timeout est fixé à 10 seconde.
J'ai rencontré ce cas lorsque le réseau data n'était pas de très bonne qualité.
Peut-être que je devrait augmenté cette valeur...

[2013-09-09 15:20] kvnco commented on #56
Non, le bug ne semble lié ni à un flux ni à un item en particulier. Par contre il est effectivement possible que l'erreur apparaisse lorsque le menu n'est pas complètement chargé.
(comme ça se joue à quelques secondes près, je sais pas comment je peux le confirmer)

[2013-09-09 15:22] kvnco commented on #57
A-t-elle été diminuée dernièrement ?
J'ai certains flux pour lesquels les billets sont assez longs et il semble effectivement qu'on arrive ici à une limite lorsque le réseau n'est pas très bon…
Une solution pourrait également être de le rendre configurable. Même si ça reste technique, et je ne suis donc pas sûr que l'idée soit très intéressante…

[2013-09-09 15:29] barbogogo commented on #56
Ok, je vais faire des tests.
Merci :smile:

[2013-09-09 15:32] barbogogo commented on #57
Il y a deux timeout à respecter :
- 10s pour se connecter au serveur
- 10s pour recevoir les informations depuis le serveur

Je vais monter ces données à 20s.

[2013-09-09 15:57] kvnco commented on #57
OK, je ferai des tests à la prochaine livraison. Merci.

[2013-09-09 16:17] barbogogo commented on #57
Tu peux essayer cette version temporaire si tu le souhaites :smile:

http://barbogogo.fr/xplorer/data/public/143000.php

[2013-09-09 20:33] kvnco commented on #57
"Ooops, the file you required could not be found! Maybe it was deleted or
it is not shared with you anymore"

[2013-09-09 20:38] barbogogo commented on #57
http://barbogogo.fr/xplorer/data/public/143000.php

[2013-09-10 04:16] agentcobra commented on #57
L'application refonctionne chez moi

[2013-09-10 07:10] kvnco commented on #57
C'est bon. Je la teste dans la journée. :)

[2013-09-10 20:34] kvnco commented on #57
Bonsoir,

Effectivement, au bout d'une journée ça ne me paraît pas mal du tout. Il reste à voir si ça se confirme sur plusieurs jours.
J'en profite aussi pour dire que j'aime bien l'idée des icônes à gauche, et fragment de l'article (snippet) qui apparaît dans la liste. :)

[2013-09-10 20:35] kvnco commented on #57
… par contre, je me demande si c'est une impression, mais j'ai l'impression que le lazy loading est à nouveau HS…

[2013-09-12 14:27] barbogogo commented on #57
Bonjour,
Merci @kvnco pour ton retour. J'en conclu que les timeout étaient trop faibles (sauf si tu as eu des soucis depuis...).
Le lazy loading fonctionne chez moi... tu vois des problèmes de chargement des articles ?

[2013-09-12 16:21] kvnco opened #62 "Amélioration du lazy-loading ?"
Bonjour,

Je me suis aperçu qu'avec une connexion data, j'avais quelques difficultés à faire fonctionner le lazy-loading. En regardant les logs serveurs, je constate à chaque appel ces 2 lignes :
/leed/plugins/api/json.php?option=getUnread&nbMaxArticle=50&offset=xx
/leed/plugins/api/json.php?option=getFolders

Des petites questions (suggestions d'améliorations ?)…
- est-il possible de ne ramener q

[2013-09-12 16:21] kvnco commented on #57
Hello,

Je confirme que je trouve toujours ça mieux. Je ferme donc le ticket.
Après test avec un wifi et en monitorant les logs, le lazy-loading fonctionne également mais j'ai quelques remarques. J'ai donc ouvert un autre ticket :  Issue #62

Merci !

[2013-09-12 16:21] #57 closed, assigned to nobody

[2013-09-12 16:33] barbogogo commented on #57
Ok.
Merci à toi

[2013-09-12 16:38] barbogogo commented on #62
En effet, on peut réduire à 20 articles, 50 c'est trop.
Effectivement, c'est bête de recharger les répertoires. Toutefois ceci ne doit être vrai que pour la page d'accueil (il faut que je vérifie).
L'authentification est réalisée à l'initialisation et gérée par une session php via l'API.

[2013-09-12 17:15] kvnco commented on #62
Je confirme que mon test est fait sur la page d'accueil. :)
Concernant la session : si celle-ci expire, l'authentification est-elle
refaite ou bien le lady-loading cesse-t-il de fonctionner ?

[2013-09-13 07:27] barbogogo commented on #62
Bon, en fait les répertoires sont rechargés à chaque fois. A voir quand il est préférable de les recharger.

Si la session expire un message d'erreur devrait apparaitre.

/!\ Le lazy loading ne fonctionne pas en mode hors-connexion (pour le moment).

[2013-09-13 10:18] kvnco commented on #62
Je pense que les recharger uniquement lorsque l'on navigue d'un répertoire
à l'autre est suffisant (et déchargera un peu la connexion !)… Mais ça peut
se discuter. :)

[2013-09-16 08:03] barbogogo commented on #60
Bonjour,

Merci pour ce retour. Est-ce que ce bug apparait toujours ?

[2013-09-16 08:22] kvnco opened #63 "[optimisation] Ne récupérer que les flux avec des items non lus"
Bonjour,

Une optimisation intéressante de la consommation du réseau serait, lorsque l'option correspondante est cochée : ne demander au serveur que les dossiers qui comportent au moins un item non lu.
Cela peut alléger les appels, et à mon avis de façon assez impressionnante lors d'un téléchargement pour consultation hors ligne.

[2013-09-16 08:24] kvnco commented on #60
Bonne question…
Ou il apparaît moins depuis la 1.4.6, ou je le remarque moins.

Je vais faire plus attention cette semaine…

[2013-09-16 08:52] barbogogo commented on #60
Ok merci.

[2013-09-16 09:08] barbogogo commented on #63
Bonjour,
Je ne vois pas trop l'optimisation.

Aujourd'hui, lors du démarrage de l'application, trois requêtes sont réalisées :
- Initialisation de la connexion qui permet de se connecter au serveur et de créer une session
- Récupération des flux non lus à afficher sur la page d'accueil
- Récupération de l'arborescence (répertoires + flux) avec le nombre d'articles non lus (on ne récupère pas les a

[2013-09-16 11:59] kvnco commented on #63
Re bonjour,

Mon premier message a été écrit rapidement, je parlais de flux et non des dossiers (qui sont tout deux récupérés par getFolders). (j'ai corrigé le titre en ce sens)

L'intérêt n'est peut-être pas évident pour tous les usages, mais l'optimisation me paraît simple à faire (ajout d'un flag lors de l'appel à getFolders) et intéressante dans un cas comme le mien.

Je suis "abonné" à pas lo

[2013-09-16 18:04] barbogogo commented on #63
Re,

Ok, la modification ne concerne que la récupération des flux lorsque l'on passe en mode off line.
Il est vrai qu'un temps important peut être gagné dans cette phase :smile:

Merci pour cette excellente idée !

[2013-09-16 18:05] barbogogo commented on #63
Un message informant l'utilisateur que le flux n'a pas été téléchargé est à prévoir.
Juste pour montrer que si il a été shunté c'est pour une bonne raison.

[2013-09-17 08:19] kvnco commented on #63
Ce n'est pas une mauvaise idée, même si au final cette optimisation est transparente pour l'utilisateur donc il n'y aura pas plus besoin d'un message qu'il n'en faudrait un aujourd'hui. :)

[2013-09-17 15:39] barbogogo commented on #63
ok, mais il faut tout de même affiché le flux à l'écran.

[2013-09-17 16:35] kvnco commented on #63
OK je n'avais pas compris que l'on parlait d'afficher un message lors de la
synchronisation pour le mode hors ligne. Dans ce cas, oui, un petit message
d'information serait pas mal…

[2013-09-17 18:28] kvnco commented on #60
Bon, finalement ça semble beaucoup plus rare, mais je l'ai à nouveau eu aujourd'hui…

[2013-09-18 13:28] kvnco commented on #52
J'ai écrit un bout de code JS qui fait ça que je voudrais proposer pour un pull-request dans Leed.
(elle parcourt les balises img et crée un div en dessous si celles-ci comporte un title)
Comment sont affichés les articles dans l'appli, ce serait intégrable également pour le reader ?

[2013-09-19 09:07] barbogogo commented on #63
Hello,
Je ne vois pas d'autres cas d'utilisation de cette fonctionnalité... ou je n'ai pas bien compris (?)

[2013-09-19 09:09] barbogogo commented on #52
Bonjour,
Cette fonctionnalité serait directement gérée en Java avec une recherche à l'aide d'une expression régulière.
J'ai déjà utilisée cette option pour permettre d'ouvrir une vidéo Youtube à l'extérieur de LeedReader.

Toutefois, le code JS peut être intéressant comme base pour coder en Java.

[2013-09-19 10:17] kvnco commented on #63
Justement, je ne voyais pas trop où et comment afficher ce message… Nous sommes donc synchro. :)

J'ai fait un pull request sur Leed-API apportant les modifs serveurs nécessaires à ce développement.

[2013-09-19 11:41] SalutAToi opened #64 "Erreur PHP"
Bonjour,

J'ai rencontré une erreur PHP en installant leedReader.

Intitulé : "PHP Error"
Texte : """Note[8]Undefined index 4- /volume1/web/leed/plugins/api/json.php(k.183)

Your server configuration :
- PHP Version : 5.3.27
- JSON Version : 1.2.1
  -MYSQL Version : 1.0
  """
  La ligne en question est la suivante :
                  $feeds2 = $allFeeds['folderMap'][$folder->getId()];

J'ai instal

[2013-09-19 11:53] kvnco commented on #64
Hello @TheDoctorII,

Pour les certifs autosignés, un ticket est ouvert ici : #18

Ensuite l'erreur que tu rencontres ressemble fort à celle-ci barbogogo/leed-API#11  mais elle était normalement corrigée. As-tu bien la dernière version du plugin API ?

updated : corrige le lien vers le ticket

[2013-09-19 11:58] SalutAToi commented on #64
Merci, kvnco.

La version de l'API est la 0.9. Il me semble bien qu'il s'agit de la dernière ?

Je ne sais pas si cela correspond à une histoire de caractères (je ne connais ni le PHP ni l'appli :)), mais l'erreur semble venir du fichier json.php. Cela correspond au formatage des caractères ?

[2013-09-19 14:30] kvnco commented on #64
Oups.

Il s'agit bien du ticket 11, mais pas sur le bon projet. C'est donc celui-ci barbogogo/leed-API#11 qui t'intéresse. C'est en fait un pb de dossier vide de tout flux (a priori celui comportant l'ID 4).

Le bug est corrigé dans la 0.10, je t'invite à mettre à jour. :)

[2013-09-19 15:05] kvnco commented on #52
Je posterai un petit lien sur le pull request quand j'aurai finalisé mon travail (je me bats un peu avec le moteur de plugin de leed pour être honnête)…

[2013-09-19 15:35] SalutAToi commented on #64
J'ai MàJ (et ajouter du contenu) et ça marche, merci pour l'aide :) .

[2013-09-19 15:35] #64 closed, assigned to nobody

[2013-09-19 15:55] kvnco commented on #52
Hop : ldleman/Leed-market#65

[2013-09-28 11:54] nW44b commented on #18
Yep,
je confirme, c'est un peu chiant :/
Merci pour l'appli sinon …

[2013-10-07 14:50] barbogogo commented on #60
Bonjour @kvnco,
Désolé pour ce silence depuis quelques jours, mais j'ai eu trop peu de temps pour me connecter...
Je reviens vers toi sur ce sujet pour savoir si tu avais toujours ce problème d'affichage et si tu avais pu constater des situations particulières (flux particulier, ...) ?
barbogogo

[2013-10-07 14:51] barbogogo commented on #52
Ok, je regarde ça :smile:

[2013-10-07 15:42] kvnco commented on #60
Hello, :)

Je l'observe toujours même si plus rarement et un peu différemment. Il
semble que l'affichage du menu "bouge" en fonction de certaines actions que
je fais (par exemple lorsque je fais défiler la liste des items) et qu'il
se stabilise lorsque je ne touche plus à rien. C'est assez étrange.

Par ailleurs, il semble aussi que l'opacité de l'arrière plan soit un peu
instable par moment.

Auc

[2013-10-07 15:44] kvnco commented on #52
Malheureusement, c'est du JS et je doute que ça aide bcp à faire qqc de bien en Java. J'essaierai pt-être de voir ce que je peux faire en Java si j'ai du temps pour !

[2013-10-08 12:05] barbogogo commented on #52
Voici un premier résultat :
![screenshot_2013-10-08-14-03-08](https://f.cloud.github.com/assets/4095207/1288633/d487b8a6-3011-11e3-8ce9-836aeb7555c3.png)

Ici, l'image est entourée par un lien (celui de l'image), c'est pourquoi l'encadré est souligné.
:smile:

[2013-10-08 12:08] kvnco commented on #52
Hum… Pas mal du tout ! :)

[2013-10-08 15:54] barbogogo commented on #52
J'ai un peu réduit la police de l'encadré, ce qui donne :
![screenshot_2013-10-08-17-42-40](https://f.cloud.github.com/assets/4095207/1290521/d6c23b08-3031-11e3-8975-8ec45c63dbfb.png)

[2013-10-20 20:24] kvnco commented on #60
Got it !

Il semble que le problème survient lorsque j'affiche la liste des items du flux, après avoir afficher le corps d'un post qui contenait une image animée (GIF ou vidéo).

Problème apparu sur WIko Cink Peax, Android 4.1.1. Au besoin, je peux tester sur d'autres terminaux…

[2013-10-21 10:03] barbogogo commented on #52
Modification prise en compte, elle s'affiche pour le moment en permanence, à voir si on ajoute une option dans les préférences de l'application.

[2013-10-21 10:03] #52 closed, assigned to barbogogo

[2013-10-21 10:07] #43 closed, assigned to nobody

[2013-10-21 13:10] barbogogo commented on #59
Bonjour @kvnco,
Pour ce problème, je n'ai trouvé qu'un scénario :
- Récupération du nombre d'articles non lus en récupérant le contenu du flux (le compteur d'articles non lus est donc initialisé (à la valeur A)),
- Lecture de tous les articles du flux (le compteur est donc à B),
- Récupération de nouveaux articles via le lazy loading (le compteur reste à B au lieu d'être à la valeur C),
- Lecture

[2013-10-21 15:33] barbogogo commented on #63
Bonjour @kvnco,

Merci pour ta contribution, j'ai fait le pull :smile:
J'ai également modifié le code pour ne récupérer que les flux dans lequel il y a au moins un article non lu (si l'option "Masquer un répertoire vide" est choisie dans les préférences).

[2013-10-21 15:33] #63 closed, assigned to nobody

[2013-10-21 15:37] barbogogo commented on #56
Je n'arrive pas à reproduire ce problème.
Est-ce que tu l'as de nouveau rencontré ?

[2013-10-21 16:52] barbogogo commented on #60
Ok, je regarde.
Je n'ai pas de problème lorsque l'article contient une vidéo. Est-ce que tu lis la vidéo directement avec LeedReader ?
Je n'ai pas rencontré le problème pour les GIF...

Je suis sous Android 4.1.2, est-ce que ça change tout ??

[2013-10-21 16:52] barbogogo opened #65 "Problème de lien"
Problème de lecture de vidéo. Certains liens commencent par "//"

[2013-10-21 16:53] #65 closed, assigned to barbogogo

[2013-10-21 20:45] kvnco commented on #60
Je redoutais ça ! C'est pour ça que j'ai précisé ma config…
Je vais jeter un œil à d'autres configs/terminaux, pour voir si je
reproduis ça ailleurs…

Kevin

[2013-10-21 20:59] kvnco commented on #56
Je confirme que je peux reproduire cette erreur de façon systématique. Il suffit par exemple de marquer comme lu un billet d'un clic sur l'icône juste après le lancement.
L'erreur n'apparaît plus après quelques secondes, ce qui semble attester l'hypothèse d'un chargement qui n'est pas terminé.

Au besoin, je peux également effectuer des tests avec une autre configuration. :)

[2013-10-21 21:05] kvnco commented on #59
Oui, ce n'est pas terrible. ;)

Mais je suis étonné : je suis assez convaincu que lorsque le bug s'est produit, je n'étais pas dans le cas de billets supplémentaires récupérés en lazy-loading…

Par contre, cela fait des semaines que je n'ai pas vu le bug se reproduire. Il est donc possible qu'il ait été déjà corrigé par ailleurs (?).
Quoiqu'il en soit, je suppose que je peux fermer ce ticket.

Qui

[2013-10-21 21:05] #59 closed, assigned to barbogogo

[2013-10-22 06:42] barbogogo commented on #56
Ok, merci.
Maintenant, les articles s'affichent lorsque tout est chargé.

[2013-10-22 06:50] barbogogo commented on #60
Il semblerait que l'on ait tout de même la même version de l'API ([version 16 - Jelly Bean](http://developer.android.com/guide/topics/manifest/uses-sdk-element.html#ApiLevels))

[2013-10-22 08:05] barbogogo commented on #18
Bonjour,
J'ai ajouter la possibilité de se connecter an SSL.
Par contre, je n'ai pas essayé (je n'ai pas de certificat). Est-ce que quelqu'un peut faire des test ?
Vous pourrez trouver un fichier apk sur ce [lien de partage](http://barbogogo.fr/xplorer/data/public/deaaf4.php).

[2013-10-22 08:06] barbogogo commented on #18
Petite précision : il faut que le certificat soit valide, sinon il y a une exception.

Merci pour vos retour :smile:

[2013-10-22 08:39] barbogogo commented on #56
Salut @kvnco,

Si tu le souhaites, une mise à jour de l'application est [disponible](http://barbogogo.fr/xplorer/data/public/deaaf4.php) celle-ci prend en compte les modifications suite à nos derniers échanges.

[2013-10-22 08:45] kvnco commented on #56
Hello,

Je l'ai téléchargée, et je suis en train de tester.
Il semble que ce bug n'existe plus ! Je close ! Merci :)

Par contre, j'ai d'autres remarques à faire… je vais commenter sur les pages qui correspondent.

[2013-10-22 08:45] #56 closed, assigned to barbogogo

[2013-10-22 08:47] kvnco commented on #18
Hello,

Je viens d'effectuer le test avec un certificat valide mais autosigné, et j'ai toujours l'erreur… :-/
À confirmer par qqn d'autre ?

[2013-10-22 08:51] kvnco commented on #52
Hello,

Je viens de tester la fonctionnalité sur le nouvel apk (1.4.6b) et je remarque que :
- un cartouche vide apparaît parfois (il faudrait détecter si l'image n'a pas de title ou que celui-ci est vide)
- l'application crash lorsque j'affiche un billet qui comporte une image avec un title non vide (j'utilise toujours le flux d'xkcd, par exemple, pour mes tests)

[2013-10-22 08:55] kvnco commented on #58
Il semble que ça soit corrigé. :)

[2013-10-22 08:55] #58 closed, assigned to nobody

[2013-10-22 08:59] kvnco opened #66 "Retour à la liste des billets, lors du passage d'un billet à l'autre"
Hello,

Je teste actuellement la version 1.4.6b et lors de la lecture d'un billet n, si je souhaite passer au billet n+1 en glissant mon doigt sur l'écran de la droite vers la gauche, je reviens sur la liste des billets où les billets n et n+1 sont désormais marqués comme lus.

Cette erreur est nouvelle, reproductible à chaque fois et indépendante du flux affiché.

[2013-10-22 09:31] barbogogo commented on #66
arf, c'est embêtant... j'ai fait la correction : [LeedReader_1.4.6c.apk](http://barbogogo.fr/xplorer/data/public/d1f7af.php)

[2013-10-22 09:51] nW44b commented on #18
Hello,

je confirme. Toujours la même erreur avec un certificat valide et auto-signé.

[2013-10-22 11:34] barbogogo commented on #18
Bonjour,

Est-ce que vous avez mis un lien du type "https://lienrss"?
ça vous donne quoi comme erreur ?

[2013-10-22 11:37] nW44b commented on #18
Le problème c'est que je ne peux pas me connecter à mon Leed installé sur mon serveur.
Certificat correct et auto-signé.
Erreur : APIConnection Error
javax.net.ssl.SSLPeerUnverifiedExeption: No peer certificate

[2013-10-22 16:37] barbogogo commented on #18
Bon, j'ai fait quelques recherches et il semble que pour des raisons de sécurité (pour ne pas compromettre le certificat de sécurité), une procédure assez complexe est à réaliser pour se connecter à un serveur à l'aide d'un certificat SSL.
Je vous donne quelques liens :
- http://stackoverflow.com/questions/995514/https-connection-android
- http://www.codeproject.com/Articles/186599/SSL-Verificatio

[2013-11-17 00:42] kvnco commented on #66
OK, ce bug est corrigé ! :)

[2013-11-17 00:42] #66 closed, assigned to barbogogo

[2013-11-17 00:46] kvnco commented on #61
J'ai vu que le nom était désormais affiché. Merci :)
Je close ce ticket…

[2013-11-17 00:46] #61 closed, assigned to nobody

[2013-11-17 00:53] kvnco opened #67 "Crash aléatoires (?)"
Bonjour,

Dans la dernière version de l'application je rencontre plusieurs crash, qui semblent aléatoires.
Ceux-ci sont d'autant plus frustrants qu'ils surviennent généralement lors du clic sur un élément. Celui-ci est alors marqué comme lu… et pas affiché puisque l'appli se plante. Ils ne sont donc pas facilement retrouvable.

Ils semblent survenir plus facilement après un ou plusieurs scrolls (e

[2013-11-17 01:23] kvnco commented on #52
Je corrige ce que j'ai dit plus haut.

Le cartouche vide apparaît à de très rares cas (à vrai dire, je n'ai pas encore identifié lesquels, c'est un bug très mineur).
Ce qui est bcp plus gênant c'est le crash qui apparaît lors de l'affichage de certains billets (pas tous).
J'ouvre un ticket à ce sujet…

[2013-11-17 01:27] kvnco opened #68 "Crash lors de l'ouverture de certains billets avec une image comportant un champ title"
Bonjour,

Il semble que l'affichage de certains billets comportant une image avec un champ title provoque un crash.
Cela peut le faire ou non avec les billets d'un flux, et il semble que ça le fasse sur tous les billets du flux suivant : http://xkcd.com/atom.xml
(au moins, c'est plus facile à reproduire !)

Voici la trace récupéré via une VM lors de l'erreur
11-16 18:27:04.146: W/dalvikvm(1901): t

[2013-11-18 08:03] barbogogo commented on #67
Bonjour @kvnco,
Merci pour ces traces. Je vais regarder de plus près. Effectivement c'est gênant car les flux sont marqués comme lus et ils ne s'affichent plus sur LeedReader...

[2013-11-18 08:12] barbogogo commented on #52
@kvnco, tu confirmes que lorsque la balise `title` est vide, l'application plante ?

[2013-11-18 08:12] barbogogo commented on #52
oups, je viens seulement de voir ton ticket #68... la réponse est donc oui...

[2013-11-20 23:49] Sbgodin opened #69 "SSLPeerUnverifiedException avec certificat SSL bâclé"
Hello,

Mon hébergement utilise un certificat de base, celui fournit à l'installation du serveur. Il est auto-signé et le nom d'hôte ne correspond pas au nom de domaine.

En _http_ leedReader fonctionne normalement. En _https_ il s'arrête et affiche le message suivant : `javax.net.ssl.SSLPeerUnverifiedException: No peer certificate`

Peut-on être simplement averti que l'admin du serveur est un bra

[2013-11-21 12:43] kvnco commented on #69
Hello,

Je pense qu'on rejoins assez largement l'Issue #18

[2013-11-21 12:49] kvnco commented on #18
Bonjour,

Après une recherche, je me suis aperçu que le pb du certificat auto-signé est facilement corrigeable en important le certificat dans le terminal. Ce bug n'en est donc plus un pour moi. :)
C'est peut-être une évidence pour tout le monde, mais ça ne l'était pas pour moi, donc je poste ça ici. ;)

Sous Android 4.1.1, un menu existe pour gérer/ajouter des certificats dans le menu Système > S

[2013-11-21 14:47] #69 closed, assigned to nobody

[2013-11-21 14:47] Sbgodin commented on #69
Effectivement, ça fait doublon. Au temps pour moi.

[2013-11-21 14:56] Sbgodin commented on #18
@barbogogo, me concernant je tiens toujours à me connecter de cette façon. Je peux bien refaire mon certificat correctement, mais sans le signer par une autorité de certification. L'actualité récente me confirme bien mes doutes initiaux : faire confiance aux autorités classiques ne sert à pas grand chose. Je ne sais pas où ça en est chez Android, mais dans certains cas la substitution de mon certi

[2013-11-21 15:21] kvnco commented on #18
@Sbgodin Je ne comprends pas bien : quel est le soucis dans l'idée d'importer ton certif auto-signé dans ton terminal ?

[2013-11-21 16:28] Sbgodin commented on #18
J'aurais bien aimé que l'application le fasse de façon transparente. Genre "mmh pas bon, parce que si et ça, vous êtes sûr ?". Je l'ai fait, le système m'indique qu'il est bien importé mais je ne le trouve pas dans la liste et j'ai encore le message d'erreur.

Je vais refaire un certificat auto-signé correct, je reviens ici ensuite.

[2013-11-21 16:37] kvnco commented on #18
D'accord avec toi pour le "si et ça, vous êtes sûr ?"
Sauf que c'est visiblement un peu compliqué à faire et que je ne sais pas le faire non plus. :)

Ensuite essaie effectivement avec un certif auto-signé comportant un CN correct, mais je te confirme que si tu ne vois pas ton certificat importé dans la liste ("Utilisateur"), c'est qu'il y a un soucis !

[2013-11-21 17:00] Sbgodin commented on #18
J'ai généré un certificat auto-signé avec le bon CN. La manip' a marché ce coup-ci. Android a accepté l'import, il a supprimé le fichier de la racine de la carte SD silencieusement, comme avant. Mais là, je le vois dans la liste.

Du coup, ça marche effectivement. Mais c'est dommage parce que la manipulation n'est pas à la portée de tous. La grosse majorité des utilisateurs devrait avoir du mal av

[2013-11-21 17:13] kvnco commented on #18
Pas complètement d'accord.

Un utilisateur lambda n'ira pas se créer des certificat auto-signés. S'il le fait, on peut supposer qu'il est en mesure de faire cette manip.

Ensuite, qu'un certificat avec un mauvais CN ne fonctionne pas de cette façon me paraît normal comme dit plus haut. :)

[2013-11-21 19:37] Sbgodin commented on #18
@kvnco Merci pour tout^^

[2013-12-10 23:20] kvnco opened #70 "[1.4.6b] Temps de chargements"
Bonjour,

Est-ce une impression ou l'affichage de la liste des billets est-il sensiblement plus long depuis la dernière version (LeedReader-1.4.6 Beta) ?

Le délai est encore plus flagrant lorsque je passe du mode déconnecté au mode connecté, voici la séquence avec les logs serveurs :
- Mode "en ligne" choisi

[17/Nov/2013:02:36:39 +0100] "GET /leed/plugins/api/login.php HTTP/1.1" 401 84 "-" "Andr

[2013-12-10 23:23] kvnco opened #71 "Espace après un caractère accentué"
Version 1.4.6b (et avant)
Lors de l'affichage de l'extrait de l'article sur la liste des items, les caractères accentués sont suivis d'une espace, sans raison apparente.

Cf. capture
![screenshot_2013-11-20-09-15-10](https://f.cloud.github.com/assets/2389101/1719780/16301bb0-61f2-11e3-8ecf-edb45b2d5568.png)

Cela concerne tous les flux. Cela n'apparaît pas lorsque l'article est ouvert.

[2013-12-11 17:25] barbogogo commented on #70
Bonjour @kvnco,

Je n'ai pas vu de ralentissement de mon côté. Je vais regarder d'où cela peut venir...

[2013-12-11 17:37] barbogogo commented on #71
Salut @kvnco,

En effet. Il y avait un petit problème...

[2013-12-11 17:44] barbogogo commented on #18
Bonjour @Sbgodin, @kvnco,

Désolé, je ne suis pas très présent en ce moment.
Si j'ai bien compris, un moyen existe pour utiliser un certificat auto-signé sous Android.
Est-ce que vous avez toujours de problème quant à son utilisation pour LeedReader ?

[2013-12-11 19:41] Sbgodin commented on #18
De mon côté, j'ai résumé la situation plus haut. Ça marche maintenant après avoir fait un certificat auto-signé correct et avoir indiqué à Android que je lui faisait confiance. Cette dernière manipulation étant tout à fait hors de portée d'un utilisateur normal. Mon souhait était de (pouvoir) complètement débrayer la vérification des certificats, mais j'ai l'impression que ce n'est pas possible de

[2013-12-12 09:36] kvnco commented on #18
Hello @barbogogo,

Oui, je considère pour ma part que le soucis est réglé : c'est moi qui ne savais pas comment les certificats étaient gérés sous Android. (et faut reconnaître, c'est pas très expliqué !)

@Sbgodin La question est encore une fois de savoir si un "utilisateur normal" incapable de faire cette manipulation sait émettre un certificat auto-signé pour chiffrer les connexion à son serveu

[2013-12-12 10:16] cobalt74 commented on #18
hello all. Pas trop de pression je pense que l'utilisateur normal ne fait pas de ssl :smile:

[2013-12-12 11:07] Sbgodin commented on #18
Idem pour moi, pas d'autre soucis.

[2013-12-12 13:37] barbogogo commented on #18
Ok, ça vous dit de clore le ticket ?
A la limite on peut éventuellement proposer un "mode d'emploi" pour les "novices"...

[2013-12-12 13:40] barbogogo commented on #42
Trois mois sans échange = sujet clos.

[2013-12-12 13:40] #42 closed, assigned to nobody

[2013-12-12 13:41] nW44b commented on #18
Arf, je trouve ça dommage. Perso je m'en fous, je m'en sors bien. Mais admettons que ma grand mère découvre mon Leed, elle va absolument en vouloir un, et absolument vouloir y accéder depuis son phone …
Bon, si il y a un mode d'emploi qui est créé c'est cool. Genre dans le wiki …

[2013-12-12 13:48] barbogogo commented on #44
Salut @cobalt74,

Est-ce que tu rencontres toujours le problème : "les dossiers avec un titre long passe sur une seconde ligne mais la police est coupée sur la deuxième ligne" ?

[2013-12-12 13:59] #54 closed, assigned to barbogogo

[2013-12-12 14:01] #62 closed, assigned to nobody

[2013-12-12 14:23] cobalt74 commented on #18
l'avantage c'est que si c'est ta grand mère, potentiellement, tu vas lui faire l'installation ;-)

[2013-12-12 14:26] cobalt74 commented on #44
bonne question ... @barbogogo je regarde ce soir mais je ne crois pas.
Par contre, j'ai toujours le problème de lazyloading sur l'article suivant. tu l'as implémenté ?

[2013-12-12 15:48] barbogogo commented on #44
@cobalt74
Non, je n'ai pas implémenté le lazy loading au niveau de la lecture des articles... seulement au niveau du défilement des flux...
Mais je vais m'y mettre...

[2013-12-14 22:10] cobalt74 commented on #44
cool ! :+1:  J'ai hate de tester.

[2013-12-24 19:04] cobalt74 opened #72 "[1.5 beta] Masquer un répertoire vide"
Hello @barbogogo super la 1.5 :+1:

Petit bug qui subsiste  et qui était déjà présent sur la version d'avant.

quand je paramètre pour masquer les répertoires vides, quand je retourne sur l'accueil, j'ai ce message :

Leed-API : v0.10

[code]

[2013-12-24 19:08] cobalt74 opened #73 "[1.5 beta] lecture article glisser du doigt"
Sur la lecture des articles, lorsque je glisse de droite à gauche, je lis l'article puis je passe au suivant.

A partir du 3 ième, il recharge et repasse au 1er article.

humm il me semble avoir déjà lu cet article !! après 3 tours, j'ai arrêté ... :smile:

[2013-12-24 19:20] cobalt74 opened #74 "[1.5 beta] ordre articles en mode hors ligne"
Les articles ne sont pas ordonné par date suite à la récupération en mode hors ligne.

je sais que les articles sont par défaut ordonné afin d'avoir les plus récent au début.
Est ce qu'il serait possible d'avoir un paramètre pour mettre les plus ancien en first ?
ou récupérer le paramétrage de Leed pour le faire ?

ps : j'ai reçu l'alerte sur ma tablette ! nice man!

[2013-12-25 00:33] ghost opened #75 "Typo illisible et boutons trop proches."
Très bien le résumé, mais j'ai sur la page d'accueil des titres et textes pour lilliputiens.
De plus les boutons favoris et lu/non lu son trop proche, créant de fausses manipulations. Peut être qu'un swip vers le côté notamment pour marquer un article comme lu serait une solution plus pratique...

Ton système de notification de nouvelles versions fonctionne à merveille.

[2013-12-25 00:40] ghost commented on #73
J'ai eu le même tour au bout du 9e article puis une erreur #3...
Cette erreur revient quelques instants après l'ouverture de n'importe quel article d'ailleurs.

[2013-12-25 12:07] ghost opened #76 "Mettre l'application sur f-droid"
Pour simplifier les maj côté utilisateur mettre leed reader sur f-droid.

[2013-12-25 14:12] Sbgodin commented on #76
+1 \o/

[2013-12-25 18:10] cobalt74 commented on #75
tu es sur quel matos ? sur tablette Nexus 7, ça va.
pour l'histoire du swip, en faisant glisser le doigt de droite à gauche sur le détail d'un article, tu passes à l'article suivant et il marqué comme lu.

[2013-12-25 19:47] ghost commented on #75
Un Alcatel avec un écran de résolution moyenne. Donc normalement ça aurait dû être plus grand que petit...

Le swipe dont je parle c'est uniquement sur les résumés de la page d'accueil. Pour les article les swipe pour passer à l'article précédent/suivant est pratique en effet.

[2013-12-26 21:32] barbogogo commented on #76
Yes. Je ne connaissais pas...
Merci :smile:

[2014-01-01 18:17] ghost opened #77 "Widget"
Éventuellement, quand tu auras du temps, un widget qui affiche les dernières news serait agréable.

[2014-01-01 18:18] cobalt74 commented on #77
Bonne idée le widget pour ma tablette :)

[2014-01-01 18:27] ghost opened #78 "Nouveau logo"
Il faudrait que leed reader est un logo plus différencié de leed et plus visible dans le menu d'Android.
Je peux m'en charger.
Des idées avant que je ne me lance?

[2014-01-01 21:59] barbogogo commented on #78
Salut @misterair,
C'est une eccellente idée et je te fais entièrement confiance :-)
Merci !

[2014-01-01 22:00] barbogogo commented on #77
Effectivement, c'est une très bonne idée.
Avant, je vais corriger les quelques bugs que vous m'avez remonté :-)

[2014-01-01 23:35] ghost commented on #78
ok, donc j'ai carte blanche :-)

[2014-01-01 23:43] ghost commented on #77
et ajouter une fonction de debbug qui génère des logs ;-)

[2014-01-02 15:11] barbogogo commented on #77
Oui :smile:

[2014-01-03 13:19] barbogogo commented on #78
Je suis cueieux de voir ce que tu pourrais proposer :smile:

[2014-01-04 23:06] ghost commented on #78
Voici le logo v1:

![leeadreaderlogo](https://f.cloud.github.com/assets/4334834/1845606/bf9d11ca-7594-11e3-9c2f-6615940fd817.png)

Tu en penses quoi?

[2014-01-05 08:33] cobalt74 commented on #78
Salut, joli ! Sur ma tablette nexus 7 toutes les icônes sont carré. Est ce que ça respect le format Android ?

[2014-01-05 08:53] barbogogo commented on #78
Salut @misterair,

Parfait pour moi. Merci !!

En effet, il faut maintenant respecter les règles définies dnas le lien suivant : http://developer.android.com/design/style/iconography.html
Mais je reviendrai vers toi :smile:

Il n'y a plus qu'à corriger les bugs et intégrer le logo... je retrouve mon pc ce soir :smile:

[2014-01-05 21:58] ghost commented on #78
@cobalt74 du moment que l'image soit carré (avec la transparence) tout va bien. Après beaucoup d'icônes sont carrés. J'avais envie de sortir de cette monotonie ;-)

[2014-01-05 22:01] ghost commented on #78
@barbogogo  dès que j'ai le temps je crée une archive avec les icônes dans les diverses résolutions préconisées.
Par contre avec ce nouveau logo tu risques de devoir passer la barre de menu dans une teinte claire (#eee par exemple)...

[2014-01-06 09:05] barbogogo commented on #78
@misterair, oui, le design de la barre de menu devra être modifié...
Mais ça me va.

Maintenant que j'ai mon pc, je vais pouvoir être un peu plus bavard (c'est plus compliqué avec le smartphone...). J'ai beaucoup ce nouveau logo qui garde le logo de Leed avec l'ajout de la touche RSS et le cadre noir pour le smartphone :smile:

[2014-01-06 12:09] barbogogo commented on #72
Salut @cobalt74,
Merci :smile:

Petite question : est-ce que tu as ce problème lorsque tu lis un article, tous les articles d'un flux ou tous les articles de tous les flux ?

[2014-01-06 12:10] ghost commented on #78
Bizarrement c'est depuis que j'ai installé l'App github que je crée tickets sur tickets au grand dam des dev :D

Pour l'icône je ne pouvais pas faire sans celle de leed. Et je voulais une symbolique forte, quitte à être minimaliste :-)

[2014-01-06 12:14] barbogogo commented on #74
Ok, je vais le faire dans un premier temps en brut dans le code.
Puis je regarderai pour récupérer le paramètre de Leed pour appliquer le sens d'affichage des articles en mode connecté et en mode off-line.

[2014-01-06 12:20] barbogogo commented on #73
Salut, problème corrigé dans la prochaine version :smile:
Elle sera dispo aujourd'hui !

[2014-01-06 12:54] cobalt74 commented on #72
@barbogogo tous les flux

[2014-01-06 12:57] cobalt74 commented on #74
pas forcement besoin d'avoir le paramètre de Leed web. Si tu gère ça au niveau de l'application c'est peut être mieux en faite.
mais merci. fait signe pour les tests ;)

[2014-01-06 16:05] barbogogo commented on #74
Ok, merci pour ton retour :-)

[2014-01-06 16:07] barbogogo commented on #78
:-) j'ai encore du mal avec le clavier tactile pour de long textes...

En tout cas, l'icône est très réussie.

[2014-01-06 19:45] cobalt74 opened #79 "[1.5.1 beta] APK en 1.5"
donc on a l'alerte d'une version 1.5.1 disponible en téléchargement à chaque ouverture de LeedReader ;)

[2014-01-06 19:49] cobalt74 commented on #73
j'ai plus de soucis pour le moment. good ;)

[2014-01-06 19:49] #73 closed, assigned to nobody

[2014-01-06 19:51] cobalt74 commented on #72
j'ai tjrs le problème en 1.5.1 béta.

[2014-01-06 19:53] cobalt74 commented on #74
tjrs le même problème. hummm tu l'avais corrigé ? j'ai peut être pas la bonne version !! :D

[2014-01-06 19:56] cobalt74 opened #80 "Favoriser un article lors de sa lecture"
Ajouter un bouton favoriser sur la lecture d'un article.
on est obligé de revenir sur l'écran precedent donc pas frendly.

[2014-01-06 20:10] ghost commented on #73
Plus de problème non-plus.
Par contre j'ai une notif de nouvelle version : celle que j'ai déjà...

[2014-01-07 07:59] barbogogo commented on #73
Salut, normalement, la notification est sur la révision 1.5.1 et non plus 1.5.

[2014-01-07 08:04] barbogogo commented on #79
Arf, c'est nul... je me suis planté ?
Voici un nouveau lien : http://barbogogo.fr/xplorer/data/public/b81fd5.php
@cobalt74, @misterair, désolé...

[2014-01-07 08:05] barbogogo commented on #72
Oui, je n'ai pas encore réussi à reproduire le problème, mais je suis dessus.

[2014-01-07 08:07] barbogogo commented on #74
Merci pour ton retour !

Normalement, les articles sont affiché dans l'ordre décroissant de l'id : https://github.com/barbogogo/leedReader/commit/b7da3edf040067a1f1dabb0d0933826776ff00d8
Ce qui est équivalent à avoir les articles les plus récents en premier...
Mais je n'ai pas testé, je vais vérifier.

[2014-01-07 08:10] barbogogo commented on #80
En effet, est-ce que via le menu déroulant ça te semble suffisant, ou faudrait-il ajouter un bandeau en haut ou en bas de l'écran ?

[2014-01-07 08:48] ghost commented on #79
Ton lien pointe vers la 1.5.1 qui est concerné par ce problème. Tu as change quelque chose depuis hier ?

[2014-01-07 08:57] barbogogo commented on #74
héhéhé, en fait ça ne marche pas pour la page d'accueil, mais ça devrait marcher dans les répertoires... peux-tu confirmer ?
Je vais regarder pour faire autrement...

[2014-01-07 09:07] barbogogo commented on #79
j'ai changé le fichier apk, mais j'aurais pu le mettre en 1.5.2...

[2014-01-07 09:08] ghost commented on #79
D'accord. Je teste ça de suite alors.

[2014-01-07 09:13] ghost commented on #79
Bug résolu, on peut clore le ticket ;-)

[2014-01-07 09:16] barbogogo commented on #79
ok, merci :smile:

[2014-01-07 10:20] kvnco commented on #80
+1 et le menu me paraît très bien
En fait, j'ajouterai également le "marquer comme non lu" ou "laisser non lu" pour un billet sur lequel on souhaiterait revenir plus tard.

[2014-01-07 10:44] cobalt74 commented on #79
je peux pas tester mais je vous fais confiance :smile:

[2014-01-07 10:44] #79 closed, assigned to nobody

[2014-01-07 10:47] cobalt74 commented on #80
est ce que tu peux l'inclure dans la page de l'article en haut à droite ?
permet d'avoir une unicité dans le fonctionnement par rapport à la liste des articles. comme ça, tu peux mettre les deux icônes déjà utilisés (lu/nonlu) et (favoriser/défavoriser)

[2014-01-07 12:41] barbogogo commented on #76
demande faite, il n'y a plus qu'à attendre...

[2014-01-07 14:27] dalb8 commented on #76
Ils n'acceptent pas la license, car cela empêche d'usage commerciale. Si vous craignez le plagiat, la GPLv3 mènera au même but parce que cela empêche la combinaisons avec des jars publicitaires proprietrices.

S'ils rejetteraient la soumission dans le premier cas, ça va être oublier pour tout, mais vous pouvez toujours soumettre une recette par git.

[2014-01-07 16:39] barbogogo commented on #80
Voici une proposition :

![export](https://f.cloud.github.com/assets/4095207/1860356/46bcb920-77b2-11e3-8d7e-9bb1003debbc.png)

On voit les deux icônes (lu/nonlu) et (favoriser/défavoriser) en haut de l'article. Le scroll est réalisé sur tout le contenu de l'article (titre + info de l'article + boutons + contenu de l'article).

[2014-01-07 16:56] cobalt74 commented on #80
Pour moi c'est plus claire en terme de cohérence. Je valide !

[2014-01-07 17:13] barbogogo commented on #80
Aller hop, cadeau : http://barbogogo.fr/xplorer/data/public/b0418b.php

[2014-01-07 17:18] barbogogo commented on #76
Bonjour, merci pour ces informations. En gros, il faut oublié le dépôt sous f-droid avec la licence CC by-nc-sa.
J'ai en effet eu aucun retour (https://f-droid.org/forums/topic/leedreader/) alors que l'application proposée après moi en a eu une dizaine...

[2014-01-07 18:53] ghost commented on #78
Voici le Package d'icones: http://remitaines.fr/160
J'ai ajouté un .svg avec une icone blanche. ça pourrait peut-être servir pour la barre de notifications d'Android.

[2014-01-07 19:19] barbogogo commented on #78
Super, merci !!!
:smile:

[2014-01-07 20:31] kvnco opened #81 "Le titre des billets n'est plus cliquable"
Bonjour,

Merci pour le 1.5.2 !
Par contre, lors de l'affichage d'un billet, les titres ne sont plus cliquables pour aller sur le site d'origine.

[2014-01-07 21:05] barbogogo commented on #81
Bonjour,

Oui, c'est vrai. Je ne l'ai pas mis en place dans un premier temps, je voulais avoir un premier retour le le design présenté. Mais ce sera fait dans la prochaine révision.

Merci !

[2014-01-07 21:16] kvnco commented on #81
Pour ma part, je trouve ça pas mal du tout ! :)

[2014-01-07 21:19] barbogogo commented on #81
Merci :smile:

[2014-01-07 21:45] cobalt74 commented on #81
rah mais oui c'est nikel :+1:

[2014-01-07 22:00] cobalt74 commented on #80
nice :+1:

[2014-01-07 22:00] #80 closed, assigned to barbogogo

[2014-01-09 20:18] ghost opened #82 "Page d'accueil: Ajouter le nom de la source en dessous des titres"
Actuellement on a la date et l'auteur.  Ce serait mieux d'avoir la date et le nom du flux en dessous des titres des articles.

[2014-01-10 10:37] barbogogo commented on #82
Ok, il faudra mettre à jour l'API.

[2014-01-10 10:38] #78 closed, assigned to nobody

[2014-01-10 10:38] barbogogo commented on #81
Si tout le monde est d'accord, je ferme le ticket :smile:

[2014-01-10 10:38] #81 closed, assigned to nobody

[2014-01-10 10:40] barbogogo commented on #76
Toujours pas de réponse : https://f-droid.org/forums/topic/leedreader/
je crois que c'est c'est loupé :cry:

[2014-01-10 10:43] barbogogo commented on #75
Salut @misterair,
Est-ce que la nouvelle interface permet de clore ce point ?

[2014-01-10 10:47] ghost commented on #75
C'est encore un chaouia petit mais c'est lisible. Augmenter le résumer de 0,1em éventuellement. Sinon tu peux clore le ticket.

[2014-01-10 10:56] barbogogo commented on #82
Voici la proposition :
J'ai gardé l'auteur et ajouté entre parenthèses la source.

exemple pour les flux :
![flux](https://f.cloud.github.com/assets/4095207/1886435/c270298c-79e5-11e3-8d18-02f9bf4d6ead.png)

exemple pour les articles :
![article](https://f.cloud.github.com/assets/4095207/1886438/c671b974-79e5-11e3-9d3e-dd296bde9f0b.png)

[2014-01-10 10:58] dalb8 commented on #76
C'est normale; meme qu'il y a tant de membres, les forums sont morts. Pour un projet qui a déjà sert 12m d'apks, c'est curieux. Si vous voulez une réponse, aller au IRC ou gitorious. Mais une réponse dirait même chose que moi: la licence n'est pas reconnaît comme 'libre', pour un logiciel au moins.

[2014-01-10 11:00] ghost commented on #82
J'ai juste un doute pour la place que ça va prendre avec le nom de certains flux. Sinon ça va.

[2014-01-10 11:47] barbogogo commented on #82
Ok, voici le fichier apk pour tests et avis :smile:
http://barbogogo.fr/xplorer/data/public/84ac81.php

Ne pas oublier de mettre à jour l'API (seul le fichier json.php a été modifié) :
https://github.com/barbogogo/leed-API/tree/393912eda82cdac6554db00e1c6dfdfd5dce15aa

[2014-01-10 12:40] ghost commented on #82
"No value for name feed"
Il va falloir que j'allume un PC et réinstalle l'API pour te confirmer...

[2014-01-10 13:40] barbogogo commented on #82
Yes, il faut la nouvelle API...

[2014-01-10 13:58] ghost commented on #82
Après réinstallation et réactivation de l'API j'ai toujours la même erreur.

[2014-01-10 14:46] barbogogo commented on #82
Tu as l'erreur "No value for nameFeed" avec l'API https://github.com/barbogogo/leed-API/tree/393912eda82cdac6554db00e1c6dfdfd5dce15aa ?

[2014-01-10 14:49] ghost commented on #82
Voilà.

[2014-01-10 15:08] barbogogo commented on #82
Est-ce que tu peux essayer avec la nouvelle API et [LeedReader v1.7](http://barbogogo.fr/xplorer/data/public/4bb670.php) ?
Puis réessayer avec [LeedReader v1.7.1](http://barbogogo.fr/xplorer/data/public/84ac81.php) demain ?

J'ai déjà vu des problèmes (je ne sais pas à quel niveau) lors de ce type de mise à jour...

[2014-01-10 15:11] ghost commented on #82
Ce soir quand je serais sur les PC je retesterais ça.
C'est bizarre pour l'API car j'ai ré-uploadé tout les fichiers par FTP

[2014-01-10 18:27] ghost commented on #82
Réinstallation de l'API depuis un pc, réactivation, ça fonctionne. Et pourtant je n'ai rien fait de plus que ce matin depuis mon smartphone...

[2014-01-10 18:36] barbogogo commented on #82
Ok. Merci pour ton retout.
Il y a un probleme de rafraichissement des infos mais je ne sais pas si ça vient du serveur ou du client...

[2014-01-11 12:49] #82 closed, assigned to barbogogo

[2014-01-21 22:39] sbastienfnt opened #83 "crash"
l'application plante après avoir configurer l'adresse racine et login mdp
j'utilise ma version bêta de leed

[2014-01-21 22:47] Sbgodin commented on #83
Hello,

Quelle est le numéro de révision concerné ou le tag ? Est-ce que Leed a déjà marché auparavant, et à quelle version ?

[2014-01-22 17:53] sbastienfnt commented on #83
J'utilise la version 1.7 de leed reader

Oui cela marchait avant, avec la version stable. Si vous n'avez pas d'idée ou de solution je repasserai en stable, c'est juste que pour lire sur l'ordinateur la version bêta de leed rajoute une fonction sympa

[2014-01-22 19:23] Sbgodin commented on #83
Mes questions restent pertinentes, mais je croyais répondre à un problème concernant Leed lui-même. Je ne suis pas des masses qualifié pour ça. Bon courage.

[2014-01-24 16:50] sbastienfnt commented on #83
Bon.. déjà j'avais pas lu correctement et je n'avais pas mis le plugin leed-API. Je l'ai activer (0.10) mais quand j'ouvre l'application sur android. "LeedReader s'est arrêter" et ça à partir du moment ou je rentre les identifiants etc.
Ou trouver des logs ?

[2014-01-24 20:23] Sbgodin commented on #83
La dernière version de Leed, la branche `dev` n'est plus compatible avec LeedReader. Le système d'authentification a changé.

[2014-01-27 10:47] ghost opened #84 "Titre en double lors du partage."
Au début je pensais que c'était dû à certains flux, mais après test c'est bien sur tout les flux.
J'obtiens donc une structure: (titre du flux)(titre article)-(titre flux)(titre article) : (URL).
Si on pouvait n'avoir que le titre de l'article + l'URL ce serait bien ;-)

[2014-01-27 12:51] barbogogo commented on #83
Bonjour,
@sbastienfnt, merci pour ce retour. En effet, le mode d'identification a changé sur la version dev de Leed. Il est maintenant impossible de s'identifier avec cette version. Toutefois, ceci ne devrait pas provoquer un crash. Il est préférable d'utiliser l'API et l'application avec la version stable de Leed.
Une mise à jour est prévue pour prendre en compte le nouveau mode d'identification.

[2014-01-27 12:53] barbogogo commented on #84
Salut @misterair,
En effet, pour la fonction de partage, deux informations sont données (le sujet et le contenu).
Or j'ai mis le titre de l'article dans le sujet et le contenu. Le lien est ajouté au contenu.
En fonction de l'application de partage, il est alors possible que le titre apparaisse deux fois.

[2014-01-27 13:28] ghost commented on #84
Pas possible de créer une fonction "appel du titre si vide appel du contenu"?

[2014-01-27 14:15] barbogogo commented on #84
Non car les informations ne sont plus gérées par l'application...
Par contre, je peux ne pas mettre le titre dans la donnée "contenu".

[2014-01-27 14:29] ghost commented on #84
J'ai envie de dire "fait pour le mieux", c'est toi le dev ;-)

[2014-01-27 14:39] Sbgodin commented on #83
@barbogogo réponse par courriel.

[2014-01-27 20:44] barbogogo commented on #84
Il est toutefois important de respecter le besoin et les envies de chacun.
:smile:

[2014-01-27 20:46] ghost commented on #84
Donc une option pour paramétrer ça dans le menu ? ;-)

[2014-01-27 20:53] barbogogo commented on #84
Pourquoi pas...

En fait c'est l'application de partage qui choisie quels sont les champs à utiliser.
Pour un partage par mail, le champ "sujet" sera mis en sujet et le champ "contenu" sera le contenue du mail. C'est pour ce la que j'ai remis le titre de l'article dans le champ "contenu".
Par contre pour une application de type bloc note, l'application affichera la donnée partagée sous la forme "t

[2014-01-27 21:04] ghost commented on #84
Pour l'info je partage principalement sur twidere

[2014-01-28 17:20] sbastienfnt commented on #83
J'ai réinstaller la version 1.5 proprement, mais l'application continue de me jeter dès qu'il fait un scan des articles ;'(

[2014-01-28 19:44] barbogogo commented on #83
Salut.
Tu as installé la version stable de Leed, tu utilises la denière version de l'API et la version 1.7 de LeedReader et ça plante. C'est ça ?

Si c'est le cas, je testerai cette configuration...

[2014-01-28 21:35] sbastienfnt commented on #83
oui

Sur mon téléphone et tablette l,appli plante sa pourrait venir du serveur ?
car sa plante sur toute les versions de leedreader

[2014-01-29 09:45] barbogogo commented on #83
Bonjour,
Ok, c'est étrange...
Est-ce que tu peux essayer de te connecter via l'API depuis un navigateur ?
Pour ce faire, il faut que tu te rendes dur le lien : `http://tonurlLeed/plugins/api/login.php`
Une boite de dialogue va s'ouvrir, il faudra que tu rentres ton login et ton mot de passe (haché en sha1, peut être fait sur le site http://www.sha1.fr/).
Normalement, tu devrait avoir l'affichage s

[2014-01-29 13:13] ghost opened #85 "Problème de checking de version"
Impossible de lancer leed reader. J'ai ce message:
java.net.UnknownHostException: Unable to resolve host "checkLeedReaderVersion.barbogogo.fr": No address associated with hostname

[2014-01-29 14:45] barbogogo commented on #85
Salut.
Tu es en mode hors ligne?

[2014-01-29 21:51] ghost commented on #85
nop, toujours en mode connecté.

[2014-01-29 22:32] barbogogo commented on #85
C'est étrange...
Tu as réessayé depuis ? Une perte du réseau ?

[2014-01-29 22:34] ghost commented on #85
je viens de re-tester. ça re-fonctionne.
pourtant tout à l'heure j'ai testé 2x en 1h, vérifié la connexion réseau et wifi, AfWall+ aussi, tout fontionnait. Ton serveur n'est pas tombé en rade?

[2014-01-29 22:43] barbogogo commented on #85
non, il a bien fonctionné toute la journée...

[2014-01-30 06:40] barbogogo commented on #85
Toutefois, si l'application plante à cause de mon serveur, c'est un bug.
J'ouvre de nouveau le ticket.

[2014-01-30 07:13] barbogogo commented on #77
Widget en cours de développement dans la branche [widget](https://github.com/barbogogo/leedReader/tree/widget) :smile:

[2014-01-30 10:19] sbastienfnt commented on #83
J'ai fais celà.. tout fonctionne, je n'ai aucune erreur..

J'ai tester sur mon téléphone + une tablette sous android 4.3.
J'ai tester jusqu' la version1.4 de leedreader, et à chaque fois l'application se plante.

le seul moyen de ne pas me faire jeter à chaque lancement est de lancer l'application en mode hors ligne..
Merci de votre aide

[2014-01-30 20:17] barbogogo commented on #83
Bonjour,

Merci pour le retour. Je vais regarder de plus près.

[2014-03-05 17:22] fran6t commented on #2
Moi je pense qu'il faudrait que ce soit Leed qui fasse cela, je m'explique ce traitement est utile aussi dans ou pour un futur thème leed qui permettrait d'afficher sous forme magazine. L'appli LeedReader pourrait récuperer donc déjà quelque chose qui a été travaillé au moment de la mises à jour du flux.

[2014-03-05 21:01] barbogogo commented on #2
Pourqoui pas.
@cobalt74, @sbgodin, qu'en pensez-vous?

[2014-03-05 21:18] Sbgodin commented on #2
Je suis d'accord sur le principe aussi. Cependant, faut-il conserver le verbatim malgré tout et appliquer à la volée les changements ou changer définitivement dès réception ?
Autre question, tous les utilisateurs souhaitent-ils d'avoir ces modifications ? Si oui, veulent-ils tous les mêmes modifications ?
Question supplémentaire, dans le cas d'un hébergement multi-utilisateurs. Si la modification

[2014-03-05 21:56] cobalt74 commented on #2
leedReader à son propre mode d'affichage (thème) et les thèmes sont sur la partie web uniquement.
l'API permet de récupérer toutes les informations qu'il faudrait pour faire les affichages nécessaires.
Rien n'empèche Leed ou leedReader d'avoir un thème magazine qui gère les images en présentation d'article. :)

[2014-03-19 14:05] ghost opened #86 "Plantage à cause du lazy load"
Toujours ce lazy load qui ne fonctionne pas vraiment. Il fait crasher la dernière version de l'appli.

[2014-03-20 13:43] ghost commented on #86
En voulant répliquer le bug, ça semble planter principalement quand il n'y a plus d'éléments nouveaux à charger dans un flux.

[2014-05-09 13:40] bestlibre opened #87 "Connection impossible (url invalide)"
Depuis la mise a jour simultanée de leed (version 1.6.1), leed reader (1.8 beta) et de l'api (0.11), je n'arrive plus a me connecter avec leedreader. J'ai a chaque fois le message "URL non valide, merci de la changer"

[2014-05-31 15:19] qwertygc commented on #87
:+1:  Moi de même

[2014-05-31 17:11] qwertygc commented on #87
Bon, le code sur le Leed Market ne fonctionne pas, il faut utiliser ça https://github.com/barbogogo/leed-API/tree/master/api

[2014-06-15 17:47] MassiG commented on #87
à la lecture des sources de l'app. j'ai l'impression qu'il s'agit d'un probleme de casse.

En effet, à la ligne 116 (https://github.com/barbogogo/leedReader/blob/master/LeedReader/src/com/barbogogo/leedreader/APIConnection.java) on peut voir que le chemin est ecrit en dur et en minuscule  (/plugins/api).
L'intitulé du dossier contenu dans le leed-market est, lui, en capitale.

Il est possible que

[2014-06-15 17:58] barbogogo commented on #87
Bonjour,

Il y a en effet un problème de nommage sur le leed market. Il faut mettre api en minuscule.

[2014-06-28 20:53] ashemsay commented on #87
J'ai modifié API en api, mais ça ne résoud pas le problème pour moi.
J'utilise un reverse proxy mais j'accède bien à http://mondomaine.fr/Leed/plugins/api/.

[2014-06-29 11:43] barbogogo commented on #87
Bonjour

Vous avez pris les sources du leed-market ?
Quel est le problème remonté ?

[2014-06-29 13:30] ashemsay commented on #87
Bonjour,

Oui j'ai pris les sources du leed-market et renommé le répertoire API en api comme indiqué plus haut dans .
Le problème est que lorsque j'entre l'adresse de mon serveur ainsi que l'identifiant et la clé API dans l'application et que je veux sortir des paramètres j'obtiens le message "URL non valide, merci de la changer".
J'entre l'URL complète de mon Leed, http://mon.domaine.fr/Leed. J'a

[2014-06-29 15:38] barbogogo commented on #87
Merci pour ces détails.

Le répertoire api est bien dans le répertoire plugin avec les droits en écriture pour le serveur et la clé API configurée?

[2014-06-29 17:48] ashemsay commented on #87
Oui il est bien dans le répertoire plugins, apache a les droits en écriture.
Qu'est-ce que vous entendez par "la clé API configurée"? Le plugin Leed API est bien activé et fournit bien la clé nécessaire pour la connexion; clé que j'ai bien renseignée dans l'application Leed Reader.

[2014-07-05 12:10] qwertygc commented on #2
![screenshot_2014-07-05-14-06-19](https://cloud.githubusercontent.com/assets/4261986/3486489/316acf5e-043d-11e4-825e-0889b2100cf6.png)
Bonjour !
Dans l’accueil, on voit le texte tronqué et il faut cliquer pour le lire. Est-ce possible d'avoir le texte en entier afin d'éviter de cliquer à tout va ?
Cordialement,
Qwerty

[2014-07-05 13:11] barbogogo commented on #2
Bonjour,
En effet le texte est tronqué pour balayer les articles plus facilement. Toutefois un paramètre pourrait etre ajouté pour définir le nombre de caractères souhaités où 0 serait tout l'article... qu'en pensez-vous ?

[2014-07-05 15:06] qwertygc commented on #2
Oui, merci beaucoup :)

[2014-07-07 15:08] bestlibre commented on #87
Le renommage a marché pour moi, mais il a fallu que je désactive/réactive le plugin pour que ça marche. Avant cette désactivation/réactivation, j'obtenais un message d'erreur (authentification non valide).

[2014-07-07 15:44] qwertygc commented on #76
Rien n'empêche de faire votre propre dépôt F-Droid.

[2014-07-07 15:50] qwertygc opened #88 "Redirection paramètres quand plus de réseau"
Bonjour !
Quand j'ai plus de réseau (déplacement), je n'ai plus accès aux flux mais redirigé vers les paramètres, ce qui est problématique, car je ne peux plus lire les articles téléchargés.
Si vous savez comment y remédier...

[2014-08-12 14:57] barbogogo commented on #88
Bonjour,
En effet, par défaut l'application va dans les paramètres. Si vous êtes en déplacement, vous pouvez télécharger les flux en vous mettant "hors ligne" dans les paramètres.
Si vous êtes en mode "en ligne", vous ne gardez pas vos flux...

[2014-08-12 14:58] barbogogo commented on #76
Salut,
Bonne idée, mais est-ce qu'il y a quelqu'un qui a du temps ?

[2014-08-12 14:58] barbogogo commented on #87
Bonjour,

Est-ce que votre prblème est résolu ?

[2014-08-12 15:13] qwertygc commented on #88
Hmm, en hors ligne, j'ai "ce flux ne conteitn pas d'article" ou "ApiConnection Erreur #3 no value for articles"

[2014-10-04 09:00] Neurozone opened #89 "[bug] Flux effacés"
Bonjour.

Je voulais faire le test avec leeedreader, j'ai donc installé l'ap, renomé le dossier API en api, installé leedreader, synchronisé, et là plus rien, tous mes flux envolés. Je suis grognon.

[2014-10-11 21:11] barbogogo commented on #89
Bonjour,

Merci pour votre retour.
LeedReader ne modifie pas la liste des flux. Il ne modifie que le statut de lecture ou de mise en favori d'un article.
Est ce que vous avez retrouvé vis flux ? Est ce que vous avez pu troiver l'origine ?

[2014-10-11 21:13] barbogogo commented on #88
Bonjour,
Il faut utiliser le mode hors ligne. Si non LeedReader ne stocke aucune information sur vos flux et articles.

[2015-07-20 17:08] kvnco opened #90 "APK plus dispo"
Hello,

Le lien vers l'APK sur barbogogo.fr/xplorer semble HS.
Est-il possible de le remettre à dispo qqpart ?

Merci

Kevin

[2015-07-20 20:47] barbogogo commented on #90
Bonjour Kevin,
Le lien vers l'APK a été mis à jour sur le site : http://www.barbogogo.fr/pydio/data/public/ee8227

Désolé pour ce problème technique...

[2015-07-20 20:47] #90 closed, assigned to nobody

[2015-07-21 09:45] kvnco commented on #90
Merci :)

[2017-02-13 17:13] Sbgodin opened #91 "Compatibilité avec Leed v1.8"
Leed est beaucoup modifié ces temps-ci, je voulais savoir si ici ça suivait. Je viens de tester LeedReader, et il fonctionne correctement. Je voudrais avoir un retour des développeurs d'ici, pour confirmer que tout fonctionne bien pour la combinaison suivante :

* LeedReader v1.8 : APK téléchargé avec la ligne menant vers la révision [e609e7c](https://github.com/barbogogo/leedReader/tree/e609e7cc7

[2017-03-06 09:10] #89 closed, assigned to nobody

[2017-03-06 09:11] #87 closed, assigned to barbogogo

[2017-03-06 09:11] #86 closed, assigned to nobody

[2017-08-08 21:02] ghost opened #92 "APIConnection Erreur #3 Value"
Bonjour,

Je viens de découvrir votre application et je viens d'essayer de configurer l'application, cependant lorsque j'essaie de rappatrier les données de mon installation de leed (sur un yunohost en custom app) j'ai le message : "APIConnection Erreur #3 Value"

Pouvez-vous m'aider ?

Merci d'avance,

Blutux

[2017-08-22 13:09] barbogogo commented on #92
Bonjour,

Merci d'utiliser LeedReader.

Est-ce que vous obtenez ce message dès le démarrage de LeedReader ?
Est-ce que vous arrivez à configurer l'application avec votre adresse serveur et votre clé API ?
Est-ce que vous avez configurer leed-API afin de créer la connexion avec LeedReader ?
Est-ce que vous arrivez à voir l'arborescence de vos classements ?
Est-ce que vous arrivez à voir un ou plusi